<md-toolbar>
    <h1 class="md-toolbar-tools">Settings</h1>
</md-toolbar>
<md-content class="md-padding" ng-controller="HeaderController">
    <md-list>
        <md-item>
            <md-item-content>
                <md-button ng-click="close('right')" href="/#!/settings/profile">
                    <i class="fa fa-user"></i>
                    Profile
                </md-button>
            </md-item-content>
        </md-item>
        <md-item flex/>
        <md-item ng-show="authentication.user.provider === 'local'">
            <md-item-content>
                <md-button ng-click="close('right')" href="/#!/settings/password">
                    <i class="fa fa-key"></i>
                    Change Password
                </md-button>
            </md-item-content>
        </md-item>
        <md-item>
            <md-item-content>
                <md-button ng-click="close('right')" href="/auth/signout">
                    <i class="fa fa-power-off"></i>
                    Logout
                </md-button>
            </md-item-content>
        </md-item>
    </md-list>
</md-content>
