<div class="md-toolbar-tools" ng-controller="HeaderController">
    <md-button class="md-primary md-fab" ng-click="toggleCollapsibleMenu('left')">
        <i class="fa fa-bars"></i>
    </md-button>
    <div id="logo">
        <a href="#!/">Docktor</a>
    </div>
    <div flex/>
    <div layout="row" layout-margin layout-align="space-between center" ng-hide="authentication.user">
        <md-button class="md-raised" href="#!/signup" ui-route="/signup" ng-class="{active: $uiRoute}">
            Sign Up
        </md-button>
        <md-button class="md-raised" href="#!/signin" ui-route="/signin" ng-class="{active: $uiRoute}">
            Sign In
        </md-button>
    </div>
    <md-button class="md-accent" ng-click="toggleCollapsibleMenu('right')" ng-if="menu.shouldRender(authentication.user);">
        Welcome, {{ authentication.user.displayName}} <i class="fa fa-chevron-left"></i>
    </md-button>
</div>





