<div class="md-toolbar-tools" layout="column" ng-controller="HeaderController">
    <div layout="row" flex>
        <md-button class="md-primary md-fab"
                   aria-label="Left Menu"
                   ng-if="menu.shouldRender(authentication.user);"
                   ng-click="toggleCollapsibleMenu('left')">
            <img src="/modules/core/img/docktor.png">
        </md-button>
        <div class="logo">
            <a href="#!/">Docktor</a>
        </div>

        <div flex></div>

        <div layout="row" layout-align="center center" ng-hide="authentication.user">
            <md-button class="md-raised md-primary" href="#!/signup" ui-route="/signup" ng-class="{active: $uiRoute}">
                Register
            </md-button>
            <md-button class="md-raised md-primary" href="#!/signin" ui-route="/signin" ng-class="{active: $uiRoute}">
                Login
            </md-button>
        </div>
        <md-button class="md-primary md-hue-2" ng-click="toggleCollapsibleMenu('right')"
                   ng-if="menu.shouldRender(authentication.user);">
            {{ authentication.user.displayName}} <i class="fa fa-chevron-left"></i>
        </md-button>
    </div>
</div>
