<section flex layout="column" layout-align="space-around center" ng-controller="HomeController" class="view-slide-in">
    <div flex class="lead">
        <img src="/modules/core/img/docktor-200.png">
    </div>
    <div flex class="text-center">
        <h1>Docktor</h1>
    </div>
    <div flex class="text-center">
        <p>
            Administration & Monitoring Deployment with Docker
        </p>
    </div>
    <div flex layout-margin class="md-whiteframe-z3">
        <img flex src="/modules/core/img/doc/uml.png">
    </div>
</section>
