<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Menu</h1>
</md-toolbar>
<md-content class="md-padding" ng-controller="HeaderController">
    <div ng-repeat="item in menu.items | orderBy: 'position'">
        <button ng-if="item.shouldRender(authentication.user);"
                ui-route="{{item.uiRoute}}"
                class="menu-item menu-title md-menu-item">
            {{item.title}}
        </button>
        <a ng-repeat="subitem in item.items | orderBy: 'position'"
           class="menu-item menu-sub-item md-menu-item"
           ng-if="subitem.shouldRender(authentication.user);"
           ui-route="{{subitem.uiRoute}}"
           ng-class="{active: $uiRoute}"
           href="/#!/{{subitem.link}}">
            <span>{{subitem.title}}</span>
        </a>
    </div>
</md-content>
