<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Menu</h1>
</md-toolbar>
<md-content class="md-padding" ng-controller="HeaderController">
    <div ng-repeat="item in menu.items | orderBy: 'position'">
        <span class="menu-item menu-title md-menu-item" ng-if="item.shouldRender(authentication.user);">
            {{item.title}}
        </span>
        <md-content style="max-height: 200px;">
            <a ng-repeat="subitem in item.items | orderBy: 'position'"
               class="menu-item menu-sub-item md-menu-item"
               ng-if="subitem.shouldRender(authentication.user);"
               ui-route="{{subitem.uiRoute}}"
               ng-class="{active: $uiRoute}"
               href="/#!/{{subitem.link}}"
               ng-click="close('left')">
                <span>{{subitem.title}}</span>
            </a>
        </md-content>
    </div>
</md-content>
