<div class="ui vertical pointing menu">
    <a class="active item">
        <i class="home icon"></i> Home
    </a>
    <a class="item">
        <i class="mail icon"></i> Messages
    </a>
    <a class="item">
        <i class="user icon"></i> Friends
    </a>
</div>
<!--
<md-content class="md-padding" ng-controller="HeaderController">
    <div ng-repeat="item in menu.items | orderBy: 'position'">
        <span class="menu-item menu-title md-menu-item" ng-if="item.shouldRender(authentication.user);">
            {{item.title}}
        </span>
        <md-content style="max-height: 250px;">
            <a ng-repeat="subitem in item.items | orderBy: 'position'"
               class="menu-item menu-sub-item md-menu-item"
               ng-if="subitem.shouldRender(authentication.user);"
               ui-route="{{subitem.uiRoute}}"
               ng-class="{active: $uiRoute}"
               href="/#!/{{subitem.link}}"
               ng-click="close('left')">
                <span> <i ng-show="subitem.isFavorite" class="fa fa-star"></i> {{subitem.title}}</span>
            </a>
        </md-content>
    </div>
</md-content>
-->
