<!--
<ul class="nav main-menu" ng-controller="HeaderController">
    <li ng-repeat="item in menu.items | orderBy: 'position'"
        ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType"
        ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}"
        ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
            <span ng-bind="item.title"></span>
        </a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
            <li ng-repeat="subitem in item.items | orderBy: 'position'"
                ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}"
                ng-class="{active: $uiRoute}">
                <a href="/#!/{{subitem.link}}" ng-bind="subitem.title"></a>
            </li>
        </ul>
        <a ng-switch-default href="/#!/{{item.link}}" ng-bind="item.title"></a>
    </li>
</ul>
-->
<md-toolbar class="md-theme-indigo" >
    <h1 class="md-toolbar-tools">Menu</h1>
</md-toolbar>
<md-content class="md-padding" ng-controller="HeaderController">
    <ul class="nav main-menu">
        <li ng-repeat="item in menu.items | orderBy: 'position'"
            ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType"
            ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}"
            ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
            <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
                <span ng-bind="item.title"></span>
            </a>
            <ul ng-switch-when="dropdown" class="dropdown-menu">
                <li ng-repeat="subitem in item.items | orderBy: 'position'"
                    ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}"
                    ng-class="{active: $uiRoute}">
                    <a href="/#!/{{subitem.link}}" ng-bind="subitem.title"></a>
                </li>
            </ul>
            <a ng-switch-default href="/#!/{{item.link}}" ng-bind="item.title"></a>
        </li>
    </ul>
</md-content>
