.ui.card.group {
  margin: 1em !important;
  max-height: 120px;
  min-height: 120px;
  max-width: 300px;
  .link.header {
    font-size: 1.1em !important;
    margin-right: 0;
    margin-bottom: 1em;
    max-width: 180px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #00948d !important;
    &:hover {
      color: #00827c !important;
    }
  }
  .extra.content,
  .meta {
    font-size: .9em;
  }
  .description {
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ui.top.right.attached.button {
    box-shadow: none !important;
    left: auto;
    margin: 0;
    padding: .75em 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
}
