$teal-button-color: #00948d !default;
$teal-button-color-hover: #008c85 !default;
$teal-button-color-active: #00827c !default;

.ui.card.group {
  margin: 1em !important;
  max-height: 200px;
  max-width: 300px;
  .link.header {
    font-size: 1.1em !important;
    margin-right: 0;
    max-width: 180px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      color: #00948d !important;
    }
    a:hover {
      color: #00827c !important;
    }
  }
  .extra.content, .meta {
    font-size: .9em;
  }
  .description {
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ui.top.right.attached.button {
    left: auto;
    margin: 0;
    padding: .75em 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  .ui.teal.button {
    background-color: $teal-button-color !important;

  }
  .ui.teal.button:hover {
    background-color: $teal-button-color-hover !important;
  }
  .ui.teal.button:active {
    background-color: $teal-button-color-active !important;
  }
}
