<section data-ng-controller="SitesController" data-ng-init="findOne()">

    <h1>
        <span ng-hide="site._id">Create Site</span>
        <span ng-show="site._id">Edit Site</span>
    </h1>

    <div class="row">
        <form name="siteForm2" data-ng-submit="submitForm()" novalidate>
            <md-text-float label="Title" ng-model="site.title" type="text" required></md-text-float>
            <md-text-float label="Latitude" ng-model="site.latitude" type="number" required></md-text-float>
            <md-text-float label="Longitude" ng-model="site.longitude" type="number" required></md-text-float>

            <md-button type="submit" class="md-raised md-primary">
                <span ng-hide="site._id"><i class="fa fa-save"></i> Create</span>
                <span ng-show="site._id"><i class="fa fa-save"></i> Update</span>
            </md-button>
            <div class="row md-warn" ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
    <br>
    <div class="row" ng-if="site._id">
        <md-button class="md-raised md-warn" ng-click="askDeleteSite=true" ng-hide="askDeleteSite">
            <i class="fa fa-trash-o"></i> Delete Site
        </md-button>
        <md-button ng-click="askDeleteSite=false" ng-show="askDeleteSite" class="md-raised md-warn">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </md-button>
        <md-button data-ng-click="remove(site);" ng-show="askDeleteSite"
                   class="md-raised md-warn">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </md-button>
    </div>
</section>
