<section data-ng-controller="SitesController" data-ng-init="findOne()">

    <h2 flex>Admin /
        <md-button class="md-accent" href="#!/admin/sites">Sites</md-button>
        /
        <span ng-hide="site._id">Create Site</span>
        <span ng-show="site._id">Edit Site</span>
    </h2>

    <div class="row">
        <form name="siteForm2" data-ng-submit="submitForm()" novalidate>
            <md-input-container>
                <label>Title</label>
                <input name="title" ng-model="site.title" type="text" required>

                <div ng-messages="siteForm2.title.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Latitude</label>
                <input name="latitude" ng-model="site.latitude" type="number" required>

                <div ng-messages="siteForm2.latitude.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="number">Number is invalid.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Longitude</label>
                <input name="longitude" ng-model="site.longitude" type="number" required>

                <div ng-messages="siteForm2.longitude.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="number">Number is invalid.</div>
                </div>
            </md-input-container>

            <md-subheader class="row md-warn" ng-show="error">
                <strong data-ng-bind="error"></strong>
            </md-subheader>

            <md-button type="submit" class="md-raised md-primary">
                <span ng-hide="site._id"><i class="fa fa-save"></i> Create Site</span>
                <span ng-show="site._id"><i class="fa fa-save"></i> Update Site</span>
            </md-button>

        </form>
    </div>
    <br>

    <div class="row" ng-if="site._id">
        <md-button class="md-raised md-warn" ng-click="askDeleteSite=true" ng-hide="askDeleteSite">
            <i class="fa fa-trash-o"></i> Delete Site
        </md-button>
        <md-button ng-click="askDeleteSite=false" ng-show="askDeleteSite" class="md-raised md-accent md-hue-1">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </md-button>
        <md-button data-ng-click="remove(site);" ng-show="askDeleteSite"
                   class="md-raised md-warn">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </md-button>
    </div>
</section>
