<section data-ng-controller="SitesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Site</h1>
    </div>
    <div class="col-md-12">
        <form name="siteForm" class="form-horizontal" data-ng-submit="update(siteForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input name="title" type="text" data-ng-model="site.title" id="title" class="form-control"
                               placeholder="Title" required>
                    </div>
                    <div ng-show="submitted && siteForm.title.$invalid" class="help-block">
                        <p ng-show="siteForm.title.$error.required" class="text-danger">Title is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="latitude">Latitude</label>

                    <div class="col-sm-5">
                        <input name="latitude" type="number" data-ng-model="site.latitude" id="latitude" class="form-control"
                               placeholder="latitude" required>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="longitude">Longitude</label>

                    <div class="col-sm-5">
                        <input name="longitude" type="number" data-ng-model="site.longitude" id="longitude" class="form-control"
                               placeholder="longitude" required>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
