<section data-ng-controller="SitesController" data-ng-init="find()">

    <div layout="row">
        <h2 flex>Admin / Sites</h2>

        <div flex layout="row" layout-align="end center">
            <md-button href="#!/admin/sites/create" class="md-raised md-primary">
                <i class="fa fa-plus"> </i> New Site
            </md-button>
        </div>
    </div>

    <table tr-ng-grid="" items="sites" fields="['title','created', 'latitude', 'longitude']">
        <thead>
        <tr>
            <th field-name="title" display-name="Title" enable-filtering="true"></th>
            <th field-name="created" display-format="date:'mediumDate'"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td field-name="title">
                <md-button class="md-accent" href="#!/admin/sites/{{gridItem._id}}">
                    {{gridItem.title}}
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>

    <md-toolbar class="md-accent" layout-align="center center" data-ng-if="sites.$resolved && !sites.length">
        No sites yet, why don't you
        <md-button class="md-accent" href="/#!/admin/sites/create">create one</md-button>
        ?
    </md-toolbar>
</section>
