<section data-ng-controller="SitesController" data-ng-init="findOne()">

    <h1 data-ng-bind="site.title"></h1>

    <p>Latitude : {{site.latitude}}</p>

    <p>Longitude : {{site.longitude}}</p>

    <div>
        <md-button class="md-raised md-primary" href="/#!/admin/sites/{{site._id}}/edit">
            <i class="fa fa-edit"></i> Edit
        </md-button>
    </div>
    <small>
        <em class="text-muted">
            Created at
            <span data-ng-bind="site.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="site.user.displayName"></span>
        </em>
    </small>
    <p class="lead" data-ng-bind="site.content"></p>
</section>
