<div id="page-login" ng-controller="AuthenticationController" layout-fill layout="column" layout-align="space-around center">

    <h1>Docktor Login Page</h1>

    <md-content class="md-whiteframe-z1">
        <form ng-submit="signin()" style="padding: 20px;" autocomplete="off" layout-margin layout-padding layout="column" layout-align="space-around center">
            <div class="row">
                <md-text-float label="Username" ng-model="credentials.username"></md-text-float>
                <md-text-float type="password" label="Password" ng-model="credentials.password"></md-text-float>
            </div>
            <md-button type="submit" class="md-raised md-primary">Sign in</md-button>
            <div class="row md-warn" ng-show="error">
                <strong ng-bind="error"></strong>
            </div>
            <div class="row">
                <md-button class="md-primary" href="/#!/signup">Need an account?</md-button> |
                <md-button class="md-primary" href="/#!/password/forgot">Forgot your password?</md-button>
            </div>
        </form>

    </md-content>
</div>
