<div id="page-login" ng-controller="AuthenticationController" layout-fill layout="column"
     layout-align="space-around center">

    <h1>Docktor Register Page</h1>

    <md-content class="md-whiteframe-z1">
        <form ng-submit="signup()" style="padding: 20px;" autocomplete="off" layout-margin layout-padding
              layout="column" layout-align="space-around center">
            <div class="row">
                <md-text-float label="First Name" ng-model="credentials.firstName"></md-text-float>
                <md-text-float label="Last Name" ng-model="credentials.lastName"></md-text-float>
            </div>
            <div class="row">
                <md-text-float label="Username" ng-model="credentials.username"></md-text-float>
                <md-text-float type="password" label="Password" ng-model="credentials.password"></md-text-float>
            </div>
            <div class="row">
                <md-text-float class="long" type="email" label="Email" ng-model="credentials.email"></md-text-float>
            </div>
            <div class="row">
                <md-button type="submit" class="md-raised md-primary">Sign Up</md-button>
            </div>

            <md-subheader class="row md-warn" ng-show="error">
                <strong ng-bind="error"></strong>
            </md-subheader>
            <div class="row">
                <md-button class="md-primary" href="/#!/signin">Already have an account?</md-button>
            </div>
        </form>

    </md-content>
</div>

