<div id="page-login"
     layout="column" layout-align="space-around center" ng-controller="AuthenticationController">


    <h3 flex >Docktor Login Page</h3>

    <div flex>
        <form data-ng-submit="signin()" class="signin md-whiteframe-z1" autocomplete="off" layout="column" layout-margin layout-align="space-around center">
            <input flex type="text" id="username" name="username" class="form-control"
                   data-ng-model="credentials.username" placeholder="Username">
            <input flex type="password" id="password" name="password" class="form-control"
                   data-ng-model="credentials.password" placeholder="Password">
            <button flex type="submit" class="btn btn-primary">Sign in</button>
            <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>

    <div flex class="text-right">
        <md-button href="/#!/signup" class="txt-default">Need an account?</md-button> |
        <md-button href="/#!/password/forgot" class="txt-default">Forgot your password?</md-button>
    </div>
</div>
