@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff?v=4.2.0') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.content {
    margin-top: 50px;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.gaugeSmall {
    width: 100px;
    height: 80px;
}

.table-small-text {
    font-size: 12px;
}

.infos-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 200px;
    font-size: 12px;
}


#logo {
    position: relative;
}

#logo a {
    display: block;
    font-size: 20px;
    line-height: 50px;
    background: url(../img/docktor.png) right 42px no-repeat;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#logo a:hover {
    background-position: right 30px;
    text-decoration: none;
}


/* code css */

#images {
    width: 630px;
}

[ui-view].ng-enter, .custom-footer.ng-enter {
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

[ui-view].ng-enter, .custom-footer.ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active, .custom-footer.ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave, .custom-footer.ng-leave {
  opacity: 0;
  /*padding-left: 0px;*/
}

[ui-view].ng-leave-active, .custom-footer.ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
}

fieldset {
    border: none;
}