.ui.card.user {
  margin: 1em 0 !important;
  max-height: 100px;
  .extra.content {
    font-size: .9em;
  }
  .email {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ui.button.toggle.active {
    background-color: #00948d !important;
  }

  .ui.top.right.attached.button {
    left: auto;
    margin: 0;
    padding: .75em 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  .ui.provider.label {
    background-color: #3a6191;

    color: white;
  }
}
