.ui.card.user {
  margin: 1em 0 !important;
  max-height: 100px;
  .extra.content {
    font-size: .9em;
  }
  .email {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ui.button.toggle.active {
    background-color: #00948d !important;
  }
}
