<md-dialog aria-label="Job Info">
    <md-content>
        <h2>Container Info</h2>
        <md-subheader class="md-primary">

            Group :
            <md-button class="md-accent" href="#!/groups/{{info.groupId}}">{{info.groupTitle}}</md-button>
            <br>
            Hostname: {{info.hostname}}<br>
            Deployed Service:
            <md-button class="md-accent" href="#!/groups/{{info.groupId}}/{{info.containerId}}">
                {{info.name}}
            </md-button>
            <br>
        </md-subheader>
        <h2>Job Info</h2>

        <div class="column">
            <p>
                Execution At : {{job.lastExecution}}<br>
                Name : {{job.name}}<br>
                Status : {{job.status}}<br>
            </p>
        </div>

        <div class="column">
            <h4>Description</h4>

            <p>{{job.description}}</p>
        </div>
        <div class="column">
            <h4>Result</h4>
            <pre>{{job.result}}</pre>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="cancel()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>
