<section data-ng-controller="JobsOverviewController" data-ng-init="find()">

    <div layout="row">
        <h2 flex>Admin / Jobs</h2>

        <div flex layout="row" layout-align="end center">
            <div>Legend :</div>
            <div class="job success">Ok</div>
            <div class="job error">Ko</div>
        </div>
    </div>

    <div layout="row">
        <div flex><h4>Groups</h4></div>
        <div flex ng-repeat="service in services" layout="column">
            <h4>{{service.title}}</h4>
        </div>
    </div>
    <div ng-repeat="group in groups" layout="row">
        <div flex>{{group.title}}</div>
        <div flex ng-repeat="service in services" layout="row">
            <div ng-repeat="job in overview[group._id].services[service._id].jobs" layout="row" class="job"
                 ng-click="showInfo(group._id, job)">
                <md-button ng-if="job.status==='success'" class="job success">.
                </md-button>
                <md-button ng-if="job.status==='error'" class="job error">.
                </md-button>
            </div>
        </div>
    </div>

    <md-toolbar class="md-accent" layout-align="center center" data-ng-if="jobs.$resolved && !jobs.length">
        No jobs yet
    </md-toolbar>
</section>
