<section data-ng-controller="JobsOverviewController" data-ng-init="find()">

    <div layout="row">
        <h2 flex>Admin / Jobs / Overview</h2>

        <div flex layout="row" layout-align="end center">
            <div>Legend :</div>
            <div class="job legend success">Success</div>
            <div class="job legend warning">Service Down</div>
            <div class="job legend error">Error</div>
        </div>
    </div>

    <md-button class="md-accent" href="#!/admin/jobs/history">View all history</md-button>

    <table style="width:100%; overflow-x: scroll; width: auto;">
        <thead>
        <tr>
            <th>Groups</th>
            <th ng-repeat="service in services">

                <md-button class="md-raised job">.
                    <md-tooltip>{{service.title}}</md-tooltip>
                </md-button>
            </th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="group in groups">
            <td>{{group.title}}</td>
            <td ng-repeat="service in services">
                <div ng-repeat="container in overview[group._id].services[service._id].containers">
                <span ng-repeat="job in container.jobs" ng-click="showInfo(job._id, job)">
                    <md-button ng-if="job.status==='success'" class="job success">.
                    </md-button>
                    <md-button ng-if="job.status==='warning'" class="job warning">.
                    </md-button>
                    <md-button ng-if="job.status==='error'" class="job error">.
                    </md-button>
                </span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <md-toolbar class="md-accent" layout-align="center center" data-ng-if="jobs.$resolved && !jobs.length">
        No jobs yet
    </md-toolbar>
</section>
