<form id="page-restore-password" ng-submit="askForPasswordReset()" class="ui form" ng-controller="PasswordController">
    <div class="ui grid">
        <div class="ui sixteen wide mobile ten wide tablet seven wide computer centered column">
            <div class="ui card fluid">
                <div class="content">

                    <h4 class="ui dividing header">Restore your password</h4>
                    <br/>
                    <p class="small">Enter your account username.</p>
                    <div ng-show="error" class="ui error message">
                        <strong>{{error}}</strong>
                    </div>
                    <div ng-show="success" class="ui success message">
                        <strong>{{success}}</strong>
                    </div>
                    <div class="required field">
                        <label>Username</label>

                        <div class="ui icon input">
                            <input type="text" ng-model="credentials.username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <input type="submit" class="positive ui button" value="Restore"/>
                </div>
            </div>
        </div>
    </div>
</form>
