<section class="row" data-ng-controller="PasswordController">
    <h3 class="text-center">Reset your password</h3>

    <form data-ng-submit="resetUserPassword()" class="signin" autocomplete="off">
        <div class="row">
            <md-text-float class="long" label="New Password" ng-model="passwordDetails.newPassword" type="password"
                           required>
            </md-text-float>
        </div>
        <div class="row">
            <md-text-float class="long" label="Verify Password" ng-model="passwordDetails.verifyPassword"
                           type="password" required>
            </md-text-float>
        </div>
        <div class="text-center row">
            <md-button type="submit" class="md-raised md-primary">Update Password</md-button>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
            <strong>{{error}}</strong>
        </div>
        <div data-ng-show="success" class="text-center text-success">
            <strong>{{success}}</strong>
        </div>
    </form>
</section>
