<section class="row" data-ng-controller="PasswordController">
    <h3 class="text-center">Reset your password</h3>

    <form name="passwordForm" data-ng-submit="resetUserPassword()" class="signin" autocomplete="off">
        <div class="row">
            <md-input-container class="long">
                <label>New Password</label>
                <input name="newPassword" ng-model="passwordDetails.newPassword" type="password" required>

                <div ng-messages="passwordForm.newPassword.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container class="long">
                <label>Verify Password</label>
                <input name="verifyPassword" ng-model="passwordDetails.verifyPassword" type="password" required>

                <div ng-messages="passwordForm.verifyPassword.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <div class="row">
            <md-button type="submit" class="md-raised md-primary">Update Password</md-button>
        </div>
        <div data-ng-show="error" class="text-danger">
            <strong>{{error}}</strong>
        </div>
        <div data-ng-show="success" class="text-success">
            <strong>{{success}}</strong>
        </div>
    </form>
</section>
