.layout.horizontal,
.layout.horizontal-reverse,
.layout.vertical,
.layout.vertical-reverse {
    display: flex;
    overflow: auto;
}

.layout.inline {
    display: inline-flex;
}

.layout.horizontal {
    flex-direction: row;
}

.layout.horizontal-reverse {
    flex-direction: row-reverse;
}

.layout.vertical {
    flex-direction: column;
}

.layout.vertical-reverse {
    flex-direction: column-reverse;
}

.layout.wrap {
    flex-wrap: wrap;
}

.layout.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-auto {
    flex: 0 1 auto;
}

.flex-none {
    flex: none;
}

.flex,
.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-11 {
    flex: 11;
}

.flex-12 {
    flex: 12;
}

.layout.start {
   align-items: flex-start;
}

.layout.center,
.layout.center-center {
    align-items: center;
}

.layout.end {
    align-items: flex-end;
}

.layout.start-justified {
   justify-content: flex-start;
}

.layout.center-justified,
.layout.center-center {
    justify-content: center;
}

.layout.end-justified {
    justify-content: flex-end;
}

.layout.around-justified {
    justify-content: space-around;
}

.layout.justified {
    justify-content: space-between;
}

.self-start {
   align-self: flex-start;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}

.self-stretch {
    align-self: stretch;
}
