{{define "index"}}
<!DOCTYPE html>
<html>

<head>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'>
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Docktor - v{{.Version}}</title>
</head>

<body>
    <div id="root"></div>
    <script src="REACT_APP"></script>
</body>

</html>
{{end}}