{{define "index"}}
<!DOCTYPE html>
<html>

<head>
    <link rel='shortcut icon' href='/images/docktor.png' type='image/x-icon'>
    <link rel='icon' href='/images/docktor.png' type='image/x-icon'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Docktor - v{{.Version}}</title>
</head>

<body>
    <div id="root" class="root">
      <div class="ui active dimmer">
        <div class="content">
          <div class="center">
            <div class="ui massive text loader">Loading Docktor</div>
          </div>
        </div>
      </div>
    </div>
    <script src="REACT_APP"></script>
</body>

</html>
{{end}}
