$groups-bar-background-color: #2c3e50 !default;

.groups-bar {
  background-color: $groups-bar-background-color;
  min-height: 3em;
  padding: .5em;
  div:first-child {
    margin-left: 1em !important;
  }
  div:last-child {
    margin-right: 1em !important;
  }
}

.groups-list {
  overflow-y: auto !important;
}
