<section data-ng-controller="GroupsController" data-ng-init="findOne()">

    <h3 ng-hide="group._id">
        <md-button class="md-accent" href="#!/groups">My Groups</md-button>
        / Create Group
    </h3>

    <h3 ng-show="group._id">
        <md-button class="md-accent" href="#!/groups">My Groups</md-button>
        /
        <md-button class="md-accent" href="#!/groups/{{group._id}}">{{group.title}}</md-button>
        / Edit Group
    </h3>

    <div class="col-md-12">
        <form name="groupForm" class="form-horizontal" data-ng-submit="submitForm()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input name="title" type="text" data-ng-model="group.title" id="title" class="form-control"
                               placeholder="Title" ng-pattern="patternTitle" required maxlength="200">
                    </div>
                    <div ng-show="groupForm.title.$invalid" class="help-block">
                        <p ng-show="groupForm.title.$error.required" class="text-danger">Title is required</p>

                        <p ng-show="groupForm.title.$invalid" class="text-danger">The name have to match this pattern :
                            [a-zA-Z0-9_]{1,200}</p>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label">Daemon</label>
                    <select ng-model="group.selectDaemon" ng-change="showFreePortRangeOnContainer()"
                            ng-options="daemon.name for daemon in daemons.all">
                    </select>
                </div>
                <div class="form-group" ng-show="freePortRange">
                    <label class="control-label">Ports already used :</label>
                    <li ng-repeat="port in freePortRange">
                        {{port}}
                    </li>

                </div>
                <div class="form-group">
                    <label class="control-label" for="portminrange">Port Min Range</label>

                    <div class="controls">
                        <input name="portminrange" type="number" data-ng-model="group.portminrange" id="portminrange"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="portmaxrange">Port Max Range</label>

                    <div class="controls">
                        <input name="portmaxrange" type="number" data-ng-model="group.portmaxrange" id="portmaxrange"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <input type="text" name="description" data-ng-model="group.description" id="description"
                               class="form-control" cols="30" rows="10" placeholder="Description" required/>
                    </div>
                    <div ng-show="submitted && groupForm.description.$invalid" class="help-block">
                        <p ng-show="groupForm.description.$error.required" class="text-danger">Description is
                            required</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-12">
        <fieldset class="form-horizontal">
            <div class="form-group">
                <label class="control-label" for="title">Filesystem</label>

                <button class="btn btn-default btn-xs" ng-hide="displayFormFilesystem"
                        ng-click="displayFormFilesystem=!displayFormFilesystem">
                    <i class="fa fa-plus-square"></i>
                </button>

                <div class="controls">
                    See
                    <md-button class="md-accent" ng-show="group.selectDaemon.cadvisorApi"
                               href="{{group.selectDaemon.cadvisorUrl}}">
                        cAdvisor of daemon {{group.selectDaemon.name}}
                    </md-button>

                    <div ng-hide="group.selectDaemon.cadvisorApi" class="alert alert-warning">
                        Daemon has no cAdvisor URL. Please check this
                        <md-button class="md-accent" href="#!/admin/daemons/edit/{{group.selectDaemon._id}}">
                            Daemon
                        </md-button>
                    </div>

                    <div ng-show="group.selectDaemon.cadvisorApi">
                        <ul data-ng-repeat="filesystem in group.filesystems">
                            <li>{{filesystem.partition}}:{{filesystem.value}}
                                <small><i>{{filesystem.description}}</i></small>
                                <a ng-click="askDeleteFilesystem=true" ng-hide="askDeleteFilesystem">
                                    <i class="fa fa-lg fa-trash-o cursor-pointer" tooltip="Delete Filesystem"
                                       tooltip-popup-delay='750'></i>
                                </a>
                                <button ng-click="askDeleteFilesystem=false" ng-show="askDeleteFilesystem"
                                        class="btn btn-warning">
                                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                                </button>
                                <button data-ng-click="removeFilesystem(filesystem);"
                                        ng-show="askDeleteFilesystem"
                                        class="btn btn-danger">
                                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                                </button>
                            </li>
                        </ul>

                        <form ng-show="displayFormFilesystem" name="filesystemForm" id="filesystemForm" novalidate
                              autocomplete="off">
                            <fieldset>

                                <ui-select ng-model="group.currentFs" theme="bootstrap" style="min-width: 300px;"
                                           ng-change="changefs()">
                                    <ui-select-match placeholder="Select or search a partition">
                                        {{$select.device}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="fs in group.selectDaemon.statsCompute.filesystem">
                                        {{fs.device}}
                                    </ui-select-choices>
                                </ui-select>

                                <div class="col-sm-4" ng-show="group.currentFs">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar"
                                             aria-valuenow="{{group.currentFs.usage}}" aria-valuemin="0"
                                             aria-valuemax="{{group.currentFs.capacity}}"
                                             style="width: {{group.currentFs.usagePercent}}%;">
                                            <span>&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8" ng-show="group.currentFs">
                                    <span>{{group.currentFs.device}} : {{group.currentFs.usageInMB}} Gb / {{group.currentFs.capacityInMB}} Gb ({{group.currentFs.usagePercent}}%)</span>
                                </div>

                                <input type="text" name="name" data-ng-model="filesystem.partition"
                                       placeholder="name of the partition. Example /dev/sda1 " class="form-control"
                                       ng-required="true">
                                <input type="text" name="descriptionFilesystem" data-ng-model="filesystem.description"
                                       placeholder="description" class="form-control">
                                <md-button ng-disabled="filesystemForm.$invalid" class="md-raised md-primary"
                                           data-ng-click="addFilesystem(); displayFormFilesystem=false">
                                    Insert Filesystem
                                </md-button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <md-button class="md-raised md-primary" ng-click="submitForm()">
                    <span ng-hide="group._id">Create</span>
                    <span ng-show="group._id">Update</span>
                </md-button>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </div>

    <div ng-show="group._id">
        <button class="btn btn-danger" ng-click="askDeleteGroup=true" ng-hide="askDeleteGroup">
            <i class="fa fa-trash-o"> </i> Delete Group
        </button>
        <br>
        <button ng-click="askDeleteGroup=false" ng-show="askDeleteGroup" class="btn btn-warning">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </button>
        <button data-ng-click="remove();" ng-show="askDeleteGroup"
                class="btn btn-danger">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </button>
    </div>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        <strong>{{alert.title}}</strong><br>

        <div ng-repeat="msg in alert.msg track by $index">{{msg}}</div>
    </alert>

</section>
