<section data-ng-controller="GroupsController" data-ng-init="findOne()">

    <h3 ng-hide="group._id">
        <md-button class="md-accent" href="#!/groups">My Groups</md-button>
        / Create Group
    </h3>

    <h3 ng-show="group._id">
        <md-button class="md-accent" href="#!/groups">My Groups</md-button>
        /
        <md-button class="md-accent" href="#!/groups/{{group._id}}">{{group.title}}</md-button>
        / Edit Group
    </h3>

    <div class="row">
        <form name="groupForm" data-ng-submit="submitForm()" novalidate>
            <div class="row">
                <md-text-float md-fid="title" label="Title" ng-model="group.title" type="text"
                               ng-pattern="patternTitle" ng-required="true">
                </md-text-float>

                <div>
                    Title have to match this pattern : [a-zA-Z0-9_]{1,200}
                    <p ng-show="groupForm.title.$error.required" class="md-warn">Title is required</p>

                    <p ng-show="groupForm.title.$invalid" class="md-warn">
                        The name have to match this pattern : [a-zA-Z0-9_]{1,200}
                    </p>
                </div>
            </div>
            <div class="row">
                <div flex="10">Daemon</div>
                <div flex>
                    <select ng-model="group.selectDaemon" ng-change="showFreePortRangeOnContainer()"
                            ng-options="daemon as daemon.name for daemon in daemons.all track by daemon._id">
                    </select>
                </div>
            </div>
            <div class="row">
                <md-text-float md-fid="portminrange" label="Port Min Range" ng-model="group.portminrange" type="number">

                </md-text-float>
                <md-text-float md-fid="portmaxrange" label="Port Max Range" ng-model="group.portmaxrange" type="number">
                </md-text-float>
                <div ng-show="freePortRange">
                    <label class="control-label">Ports already used :</label>
                    <li ng-repeat="port in freePortRange">
                        {{port}}
                    </li>

                </div>
            </div>
            <div class="row">
                <md-text-float class="long" md-fid="description" label="Description" ng-model="group.description"
                               type="text">
            </div>
        </form>
    </div>

    <div class="row">
        <label class="control-label">Filesystem</label>

        <md-button class="md-raised" ng-hide="displayFormFilesystem"
                   ng-click="displayFormFilesystem=!displayFormFilesystem">
            <i class="fa fa-plus-square"></i>
        </md-button>

        <div class="controls">
            See
            <md-button class="md-accent" ng-show="group.selectDaemon.cadvisorApi"
                       href="{{group.selectDaemon.cadvisorUrl}}">
                cAdvisor of daemon {{group.selectDaemon.name}}
            </md-button>

            <div ng-hide="group.selectDaemon.cadvisorApi" class="alert alert-warning">
                Daemon has no cAdvisor URL. Please check this
                <md-button class="md-accent" href="#!/admin/daemons/edit/{{group.selectDaemon._id}}">
                    Daemon
                </md-button>
            </div>

            <div ng-show="group.selectDaemon.cadvisorApi">
                <ul data-ng-repeat="filesystem in group.filesystems">
                    <li>{{filesystem.partition}}:{{filesystem.value}}
                        <small><i>{{filesystem.description}}</i></small>
                        <a ng-click="askDeleteFilesystem=true" ng-hide="askDeleteFilesystem">
                            <i class="fa fa-lg fa-trash-o cursor-pointer" tooltip="Delete Filesystem"
                               tooltip-popup-delay='750'></i>
                        </a>
                        <md-button ng-click="askDeleteFilesystem=false" ng-show="askDeleteFilesystem"
                                   class="md-raised md-warn">
                            No, I don't want to delete this. <i class="fa fa-reply"></i>
                        </md-button>
                        <md-button data-ng-click="removeFilesystem(filesystem);"
                                   ng-show="askDeleteFilesystem"
                                   class="md-raised md-warn">
                            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                        </md-button>
                    </li>
                </ul>

                <form ng-show="displayFormFilesystem" name="filesystemForm" id="filesystemForm" novalidate
                      autocomplete="off">
                    <fieldset>

                        <select ng-model="group.currentFs" theme="bootstrap" style="min-width: 300px;"
                                ng-change="changefs()"
                                ng-options="fs.device for fs in group.selectDaemon.statsCompute.filesystem">
                        </select>

                        <div ng-show="group.currentFs">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar"
                                     aria-valuenow="{{group.currentFs.usage}}" aria-valuemin="0"
                                     aria-valuemax="{{group.currentFs.capacity}}"
                                     style="width: {{group.currentFs.usagePercent}}%;">
                                    <span>&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="group.currentFs">
                            <span>{{group.currentFs.device}} : {{group.currentFs.usageInMB}} Gb / {{group.currentFs.capacityInMB}} Gb ({{group.currentFs.usagePercent}}%)</span>
                        </div>

                        <input type="text" name="name" data-ng-model="filesystem.partition"
                               placeholder="name of the partition. Example /dev/sda1 " class="form-control"
                               ng-required="true">
                        <input type="text" name="descriptionFilesystem" data-ng-model="filesystem.description"
                               placeholder="description" class="form-control">
                        <md-button ng-disabled="filesystemForm.$invalid" class="md-raised md-primary"
                                   data-ng-click="addFilesystem(); displayFormFilesystem=false">
                            Insert Filesystem
                        </md-button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <br>
    <div class="row">

        <md-button class="md-raised md-primary" ng-click="submitForm()">
            <span ng-hide="group._id">Create</span>
            <span ng-show="group._id">Update</span>
        </md-button>
    </div>
    <md-subheader class="row md-warn" ng-show="error">
        <strong data-ng-bind="error"></strong>
    </md-subheader>

    <br>

    <div ng-show="group._id" class="row">
        <md-button class="md-raised md-warn" ng-click="askDeleteGroup=true" ng-hide="askDeleteGroup">
            <i class="fa fa-trash-o"> </i> Delete Group
        </md-button>
        <md-button ng-click="askDeleteGroup=false" ng-show="askDeleteGroup" class="md-raised md-warn">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </md-button>
        <md-button data-ng-click="remove();" ng-show="askDeleteGroup"
                   class="md-raised md-warn">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </md-button>
    </div>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        <strong>{{alert.title}}</strong><br>

        <div ng-repeat="msg in alert.msg track by $index">{{msg}}</div>
    </alert>

</section>
