<section data-ng-controller="GroupsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Groups</h1>
    </div>

    <table tr-ng-grid="" items="groups" fields="" class="table">
        <thead>
        <th field-name="title" display-name="Title" enable-filtering="true"></th>
        <th field-name="description" display-name="Description" enable-filtering="true"></th>
        <th field-name="daemon.name" display-name="Default Daemon" enable-filtering="true"></th>
        <th>
            <div class="tr-ng-title">
                Ports
            </div>
        </th>
        <th>
            <div class="tr-ng-title">
                Services
            </div>
        </th>
        <th>
            <div class="tr-ng-title">
                Details
            </div>
        </th>
        </thead>
        <tbody>
        <td>
            <div>
                {{gridItem.portminrange}} - {{gridItem.portmaxrange}}
            </div>

        </td>
        <td>
            <div>{{gridItem.containers.length}}</div>
        </td>
        <td>
            <a class="btn btn-default btn-xs" href="#!/groups/{{gridItem._id}}">
                <i class="fa fa-eye"></i> Details</a> <br>
        </td>
        </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-if="groups.$resolved && !groups.length">
        No groups yet, why don't you <a href="/#!/groups/create">create one</a>?
    </div>
</section>
