<section data-ng-controller="GroupsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Groups</h1>
    </div>

    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Default Daemon</th>
            <th>Ports</th>
            <th>Services</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups">
            <td>
                {{group.title}}
            </td>
            <td>
                {{group.description}}
            </td>
            <td>
                {{group.daemon.name}}
            </td>
            <td>
                {{group.portminrange}} - {{group.portmaxrange}}
            </td>
            <td>
                {{group.containers.length}}
            </td>
            <td>
                <a class="btn btn-default btn-xs" href="#!/groups/{{group._id}}">
                    <i class="fa fa-eye"></i> Details</a> <br>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-if="groups.$resolved && !groups.length">
        No groups yet, why don't you <a href="/#!/groups/create">create one</a>?
    </div>
</section>
