<div class="ui segment" data-ng-init="statsContainer()">
    <h2>Container Monitoring</h2>

    <div ng-controller="GroupsMonitoringController" class="ui three column grid">
        <div class="column">
            <h3>CPU</h3>
            <canvas id="cpuPercent" class="chart chart-line" data="cpu.data"
                    labels="cpu.labels" series="cpu.series" options="cpu.options">
            </canvas>
        </div>
        <div class="column">
            <h3>Memory</h3>
            <canvas id="memory" class="chart chart-line column" data="memory.data"
                    labels="memory.labels" series="memory.series" options="memory.options">
            </canvas>
        </div>
        <div class="column">
            <h3>Network IO</h3>
            <canvas id="network" class="chart chart-line column" data="network.data"
                    labels="network.labels" series="network.series" options="network.options">
            </canvas>
        </div>
        <div class="three column row" ng-repeat="volume in volumesDiskUsage">
            <div class="column">
                <h4>Volume {{volume.name}} {{volume.total}} KB</h4>
                <canvas class="chart chart-pie" data="volume.data"
                        labels="volume.labels">
                </canvas>
            </div>
        </div>
    </div>
</div>
