<section data-ng-controller="GroupsController" data-ng-init="findOne()">
    <div class="page-header">

        <h1 data-ng-bind="group.title"></h1>
        <small>
            <p data-ng-bind="group.description"></p>
            <em class="text-muted">
                Created on
                <span data-ng-bind="group.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="group.user.displayName"></span>
            </em>
        </small>
        <div data-ng-show="authentication.user._id == group.user._id">
            <a class="btn btn-success btn-sm" href="/#!/groups/{{group._id}}/deploy/service">
                <i class="fa fa-plus"> Deploy a service</i>
            </a>
            <a class="btn btn-default btn-sm" href="/#!/groups/{{group._id}}/edit">
                <i class="fa fa-edit"> Edit this group</i>
            </a>
            <button class="btn btn-danger" ng-click="askDeleteGroup=true" ng-hide="askDeleteGroup">
                <i class="fa fa-trash-o"> Delete Group</i>
            </button>
            <br>
            <button ng-click="askDeleteGroup=false" ng-show="askDeleteGroup" class="btn btn-danger">
                No, I don't want to delete this. <i class="fa fa-reply"></i>
            </button>
            <button data-ng-click="remove();" ng-show="askDeleteGroup"
                    class="btn btn-danger">
                Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
            </button>
        </div>

    </div>

    <h4>Services</h4>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Status</th>
            <th>Daemon</th>
            <th>CPU</th>
            <th>Mem</th>
            <th>Parameter</th>
            <th>Variables</th>
            <th>Ports</th>
            <th>Volumes</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="container in group.containers">
            <td nowrap>
                {{container.name}}<br>
                {{container.containerId | limitTo:12}}
            </td>
            <td>
                {{container.image}}
            </td>

            <td>
                <span ng-show="container.daemon.dockerStatusUp">
                    <span ng-show="container.inspect.State.Running" class="label label-success">Running</span>
                    <span ng-hide="container.inspect.State.Running" class="label label-danger">Stopped</span>
                    <span ng-show="container.inspect.State.Paused" class="label label-warning">Paused</span>
                    <button type="text" class="btn btn-default btn-xs" value="Click me!"
                            tooltip-html-unsafe="{{container.inspect.State | json | nl2br}}" tooltip-trigger="focus"
                            tooltip-placement="left">
                        <i class="fa fa-eye"> </i>
                    </button>

                    <button ng-hide="container.containerId" class="btn btn-primary btn-sm"
                            ng-click="createContainer(container)"><i class="fa fa-cogs"></i> Create
                    </button>

                    <span ng-show="container.containerId">

                        <button ng-hide="container.inspect.State.Running" class="btn btn-default btn-sm"
                                ng-click="startContainer(container)"><i class="fa fa-play"></i> Start
                        </button>

                        <span ng-show="container.inspect.State.Running">
                            <button ng-hide="container.inspect.State.Paused" class="btn btn-default btn-sm"
                                    ng-click="stopContainer(container)"><i class="fa fa-stop"></i> Stop
                            </button>
                            <button ng-hide="container.inspect.State.Paused" class="btn btn-default btn-sm"
                                    ng-click="pauseContainer(container)"><i class="fa fa-pause"></i> Pause
                            </button>
                            <button ng-show="container.inspect.State.Paused" class="btn btn-default btn-sm"
                                    ng-click="unpauseContainer(container)"><i class="fa fa-pause"></i> Unpause
                            </button>
                            <button class="btn btn-default btn-sm" ng-click="killContainer(container)"><i
                                    class="fa fa-crosshairs"></i> Kill
                            </button>
                        </span>

                        <button ng-hide="container.inspect.State.Running" class="btn btn-default btn-sm"
                                ng-click="removeContainer(container)"><i class="fa fa-trash"></i> Remove
                        </button>
                    </span>
                </span>

                <button ng-hide="container.containerId || askDeleteService" class="btn btn-default btn-sm"
                        ng-click="askDeleteService=true"
                        ng-click="createContainer(container)"><i class="fa fa-trash"></i>
                </button>
                <button ng-click="askDeleteService=false" ng-show="askDeleteService" class="btn btn-warning">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </button>
                <button data-ng-click="removeServiceFromGroup(container);" ng-show="askDeleteService"
                        class="btn btn-danger">
                    Yes, I want to delete this service from this group <i class="fa fa-exclamation-triangle"></i>
                </button>
            </td>
            <td>
                <div ng-switch="container.daemon.dockerStatus">
                    <span ng-switch-when="checking" class="label label-default">
                        <i ng-switch-when="checking" class="fa fa-spinner fa-spin"> </i> Checking
                    </span>
                    <span ng-switch-when="down" class="label label-danger">Down</span>
                    <span ng-switch-when="up" class="label label-success">UP</span>
                </div>
                <a href="#!/daemons/view/{{container.daemonId}}">details</a>
            </td>
            <td nowrap>
                <div ng-show="container.inspect.State.Running">
                    <just-gage id="gaugeCPU{{container.inspect.Id}}"
                               class="gaugeSmall" min=0 max=100 value="container.stats.cpuUsagePercent"
                               title="CPU"></just-gage>
                </div>
            </td>
            <td style="text-align:center" nowrap>
                <div ng-show="container.inspect.State.Running">
                    <just-gage id="gaugeMem{{container.inspect.Id}}"
                               class="gaugeSmall" min=0 max=100 value="container.stats.memoryUsagePercent"
                               title="Memory"></just-gage>
                    <small>{{container.stats.memoryUsage}} Mo</small>
                </div>
            </td>
            <td nowrap>
                <div ng-repeat="parameter in container.parameters">
                    {{parameter.name}}:{{parameter.value}}
                </div>
            </td>
            <td nowrap>
                <button ng-show="container.daemon.dockerStatusUp" type="text" class="btn btn-default btn-xs"
                        value="Click me!"
                        tooltip-html-unsafe="<div style=' text-align: left; '>{{container.inspect.Config.Env | json | nl2br}}</div>"
                        tooltip-trigger="focus" tooltip-placement="left">
                    <i class="fa fa-eye"> </i>
                </button>
                <div ng-repeat="variable in container.variables">
                    {{variable.name}}:{{variable.value}}
                </div>
            </td>
            <td nowrap>
                <button ng-show="container.daemon.dockerStatusUp" type="text" class="btn btn-default btn-xs"
                        value="Click me!"
                        tooltip-html-unsafe="<div style=' text-align: left; '>{{container.inspect.HostConfig.PortBindings | json | nl2br}}</div>"
                        tooltip-trigger="focus" tooltip-placement="left">
                    <i class="fa fa-eye"> </i>
                </button>
                <div ng-repeat="port in container.ports">
                    -e {{port.external}}:{{port.internal}}
                </div>
            </td>
            <td nowrap>
                <button ng-show="container.daemon.dockerStatusUp" type="text" class="btn btn-default btn-xs"
                        value="Click me!"
                        tooltip-html-unsafe="<div style=' text-align: left; '>{{container.inspect.HostConfig.Binds | json | nl2br}}</div>"
                        tooltip-trigger="focus" tooltip-placement="left">
                    <i class="fa fa-eye"> </i>
                </button>
                <div ng-repeat="volume in container.volumes">
                    -v {{volume.external}}:{{volume.internal}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
