<section data-ng-controller="GroupsController" data-ng-init="findOne()">

    <div layout="row" layout-align="center center">
        <h3 flex>
            <md-button class="md-accent md-hue-3" href="#!/groups">My Groups</md-button>
            / {{group.title}}

            <md-button ng-hide="isGroupFavorite" aria-label="Add Favorite" ng-click="addFavorite()">
                <i class="fa fa-star-o"></i>
            </md-button>
            <md-button ng-show="isGroupFavorite" aria-label="Remove Favorite" ng-click="removeFavorite()">
                <i class="fa fa-star"></i>
            </md-button>
        </h3>
        <span flex></span>

        <div ng-show="authentication.isAdmin" flex>
            <md-button class="md-raised md-primary" href="/#!/admin/groups/{{group._id}}/deploy/service">
                <i class="fa fa-plus"> </i> Deploy a service
            </md-button>
            <md-button class="md-raised" href="/#!/admin/groups/{{group._id}}/edit">
                <i class="fa fa-edit"> </i> Edit this group
            </md-button>
        </div>
    </div>

    <p data-ng-bind="group.description"></p>

    <div class="row">
        <h4><i class="fa fa-users"></i> Contacts</h4>
        <span ng-repeat="u in group.users">
            <md-button class="md-accent md-hue-3" href="mailto:{{u.email}}">
                <i class="fa fa-envelope"></i> {{u.displayName}}
            </md-button>
        </span>

        <div>
            <md-button class="md-accent md-hue-3" href="mailto:{{group.mailAllUsers}}">
                <i class="fa fa-envelope"></i> Mail All
            </md-button>
        </div>
        <div ng-show="authentication.isAdmin || authentication.user.allowGrant">
            <md-button aria-label="Add / Remove Contact" ng-hide="showAddRemoveContact" ng-click="prepareAddContact()">
                <small><i class="fa fa-plus"></i> / <i class="fa fa-minus"></i></small>
            </md-button>

            <div ng-show="showAddRemoveContact" layout="column">
                <div layout="row">
                    <md-select ng-model="contactToAdd">
                        <md-select-label>
                            {{ contactToAdd.displayName ? contactToAdd.displayName : 'choose a contact to add' }}
                        </md-select-label>

                        <md-option ng-value="user" ng-repeat="user in users | orderBy:'displayName'">
                            {{ user.displayName }}
                        </md-option>
                    </md-select>
                    <md-button class="md-raised md-primary" aria-label="Add Contact" ng-show="contactToAdd"
                               ng-click="addContact()"><i class="fa fa-save"></i> Add
                    </md-button>
                </div>
                <div layout="row">
                    <md-select ng-model="contactToRemove">
                        <md-select-label>
                            {{ contactToRemove.displayName ? contactToRemove.displayName : 'choose a contact to remove' }}
                        </md-select-label>

                        <md-option ng-value="user" ng-repeat="user in group.users | orderBy:'displayName'">
                            {{ user.displayName }}
                        </md-option>
                    </md-select>
                    <md-button class="md-raised md-primary" aria-label="Remove Contact" ng-show="contactToRemove"
                               ng-click="removeContact()">Remove
                    </md-button>
                </div>
                <div>
                    <md-button class="md-raised" aria-label="Cancel" ng-show="showAddRemoveContact"
                               ng-click="cancelAddRemoveContact()"><i class="fa fa-save"></i> Cancel
                    </md-button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h4><i class="fa fa-tachometer"></i> Monitoring</h4>

        <div ng-hide="group.filesystems" class="alert alert-danger">
            No filesystem attached to this group.
            <span ng-show="authentication.isAdmin">Try to add one by
                <md-button class="md-accent md-hue-3" href="#!/admin/groups/{{group._id}}/edit">editing this group
                </md-button>.
            </span>
            <span ng-hide="authentication.isAdmin">Ask the Administrators.</span>
        </div>

        <div ng-repeat="fs in group.filesystems" layout="row" layout-margin>
            <div flex>
                <md-progress-linear class="md-warn" md-mode="determinate"
                                    ng-value="fs.statsCompute.usagePercent"></md-progress-linear>
            </div>

            <div flex>
                <div><i class="fa fa-pie-chart"></i>
                    {{getDaemon(fs.daemon).name}} - {{fs.partition}} : {{fs.statsCompute.usageInMB}} Gb /
                    {{fs.statsCompute.capacityInMB}} Gb
                    ({{fs.statsCompute.usagePercent}}%)
                </div>
                <div><i>{{fs.description}}</i></div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4><i class="fa fa-cloud"></i> Services</h4>

        <div ng-show="group.containers.length === 0">
            No service deployed for this group.
        </div>

        <div ng-show="group.containers.length > 0" layout="row">
            <md-button class="md-raised" ng-click="createContainers()">
                <i class="fa fa-play"></i> Create All
            </md-button>
            <md-button class="md-raised" ng-click="startContainers()">
                <i class="fa fa-play"></i> Run All
            </md-button>
            <md-button class="md-raised" ng-click="stopContainers()">
                <i class="fa fa-stop"></i> Stop All
            </md-button>
            <md-button class="md-raised" ng-click="pauseContainers()">
                <i class="fa fa-pause"></i> Pause All
            </md-button>
            <md-button class="md-raised" ng-click="unpauseContainers()">
                <i class="fa fa-pause"></i> Unpause All
            </md-button>
            <md-button class="md-raised" ng-click="killContainers()">
                <i class="fa fa-crosshairs"></i> Kill All
            </md-button>
        </div>

    </div>

    <table ng-show="group.containers.length > 0" tr-ng-grid="" on-data-required="" items="group.containers" fields="" class="table">
        <thead>
        <tr>
            <th field-name="serviceTitle" display-name="Service" enable-filtering="true"></th>
            <th field-name="name" display-name="Container - Image" enable-filtering="true"></th>
            <th>
                <div class="tr-ng-title">
                    Status
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    Commands
                </div>
            </th>
            <th>
                <div class="tr-ng-title">
                    Daemon
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td field-name="serviceTitle">
                <md-button class="md-accent md-hue-3" href="#!/groups/{{group._id}}/{{gridItem._id}}">
                    <span ng-hide="gridItem.serviceTitle">Need Redeploy to <br>have a name here</span>
                    {{gridItem.serviceTitle}}
                </md-button>

                <div>
                <span ng-repeat="url in gridItem.urls">
                    <md-button class="md-accent md-hue-3" href={{url.urlCompute}}>
                        <i class="fa fa-link"></i> {{url.label}}
                    </md-button>
                </span>
                </div>
            </td>
            <td field-name="name">
                <div>
                    {{gridItem.name}}<br>
                    <small>{{gridItem.image}}</small>
                    <br>
                    <small>{{gridItem.containerId | limitTo:12}}</small>
                </div>
            </td>
            <td>
                <div>
                    <div ng-switch="gridItem.daemon.dockerStatus">
                        <div ng-switch-when="checking">
                        </div>
                        <div ng-switch-when="down">
                            <md-subheader class="docktor md-warn">Down</md-subheader>
                            <small>Daemon Down</small>
                        </div>

                        <div ng-switch-when="up">
                            <md-subheader ng-show="gridItem.inspect.State.Running && !gridItem.inspect.State.Paused"
                                          class="docktor md-primary">
                                Running
                            </md-subheader>
                            <md-subheader ng-hide="gridItem.inspect.State.Running" class="docktor md-warn">
                                Stopped
                            </md-subheader>
                            <md-subheader ng-show="gridItem.inspect.State.Paused" class="docktor md-accent md-hue-3">
                                Paused
                            </md-subheader>
                        </div>
                    </div>
                    <div layout="row">
                        <div ng-repeat="job in gridItem.jobsCompute"
                             ng-click="showJob(job._id, job)">
                            <md-button ng-if="job.status==='success'" class="job success">
                                {{getDisplayJob(job.lastExecution)}}
                            </md-button>
                            <md-button ng-if="job.status==='warning'" class="job warning">
                                {{getDisplayJob(job.lastExecution)}}
                            </md-button>
                            <md-button ng-if="job.status==='error'" class="job error">
                                {{getDisplayJob(job.lastExecution)}}
                            </md-button>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div ng-switch="gridItem.daemon.dockerStatus">

                    <div ng-switch-when="checking">
                    </div>
                    <div ng-switch-when="down">
                        No Command <br>
                        <small>Daemon Down</small>
                    </div>

                    <div ng-switch-when="up">
                        <md-button ng-hide="gridItem.containerId" class="md-raised md-primary"
                                   ng-click="createContainer(gridItem)"><i class="fa fa-cogs"></i> create
                        </md-button>

                        <div ng-show="gridItem.containerId">

                            <md-button ng-hide="gridItem.inspect.State.Running" class="md-raised md-primary"
                                       ng-click="startContainer(gridItem)">
                                <i class="fa fa-play"></i> run
                            </md-button>

                            <div ng-show="gridItem.inspect.State.Running">
                                <md-button class="md-raised" ng-hide="gridItem.inspect.State.Paused"
                                           ng-click="stopContainer(gridItem)">
                                    <i class="fa fa-stop"></i> stop
                                </md-button>
                                <md-button class="md-raised" ng-hide="gridItem.inspect.State.Paused"
                                           ng-click="pauseContainer(gridItem)">
                                    <i class="fa fa-pause"></i> pause
                                </md-button>
                                <md-button class="md-raised" ng-show="gridItem.inspect.State.Paused"
                                           ng-click="unpauseContainer(gridItem)">
                                    <i class="fa fa-pause"></i> unpause
                                </md-button>
                                <md-button class="md-raised" ng-click="killContainer(gridItem)"><i
                                        class="fa fa-crosshairs"></i> kill
                                </md-button>
                            </div>
                            <md-button ng-hide="gridItem.inspect.State.Running" class="md-raised md-warn"
                                       ng-click="removeContainer(gridItem)"><i class="fa fa-trash"></i> remove
                            </md-button>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div ng-switch="gridItem.daemon.dockerStatus">
                    <span ng-switch-when="checking" class="label label-default" layout="row"
                          layout-align="center center">
                        <md-progress-circular class="md-accent md-hue-3" md-diameter="24" md-mode="indeterminate">
                        </md-progress-circular>
                        <md-button class="md-warn" ng-show="authentication.isAdmin"
                                   href="#!/admin/daemons/view/{{gridItem.daemonId}}" layout="row">
                            <small>{{gridItem.daemon.name}} <br>checking...</small>
                        </md-button>

                        <span ng-hide="authentication.isAdmin">{{gridItem.daemon.name}} checking...</span>
                    </span>
                    <span ng-switch-when="down">
                        <md-button class="md-warn" ng-show="authentication.isAdmin"
                                   href="#!/admin/daemons/view/{{gridItem.daemonId}}">
                            {{gridItem.daemon.name}} {{gridItem.daemon.dockerStatus}}
                        </md-button>
                        <span ng-hide="authentication.isAdmin" class="label label-danger">
                            {{gridItem.daemon.name}} {{gridItem.daemon.dockerStatus}}
                        </span>
                    </span>

                    <div ng-switch-when="up">
                        <md-button class="md-accent md-raised md-hue-3" ng-show="authentication.isAdmin"
                                   href="#!/admin/daemons/view/{{gridItem.daemonId}}">
                            {{gridItem.daemon.name}} {{gridItem.daemon.dockerStatus}}
                        </md-button>
                        <span ng-hide="authentication.isAdmin" class="label label-success">
                                {{gridItem.daemon.name}} {{gridItem.daemon.dockerStatus}}
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
