<section data-ng-controller="GroupsController" data-ng-init="findOne()">
    <div class="page-header">

        <h1 data-ng-bind="group.title"></h1>
        <small>
            <p data-ng-bind="group.description"></p>
            <em class="text-muted">
                Created on
                <span data-ng-bind="group.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="group.user.displayName"></span>
            </em>
        </small>
        <div data-ng-show="authentication.user._id == group.user._id">
            <a class="btn btn-success btn-sm" href="/#!/groups/{{group._id}}/deploy/service">
                <i class="fa fa-plus"> Deploy a service</i>
            </a>
            <a class="btn btn-default btn-sm" href="/#!/groups/{{group._id}}/edit">
                <i class="fa fa-edit"> Edit this group</i>
            </a>
        </div>

    </div>

    <h4>Services</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Id</th>
            <th>Daemon</th>
            <th>Volumes</th>
            <th>Ports</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="container in group.containers">
            <td>
                {{container.name}}
            </td>
            <td>
                {{container.image}}
            </td>
            <td>
                {{container.containerId | limitTo:12}}
            </td>
            <td>
                {{container.daemon.name}}
                {{container.daemon.protocol}}://{{container.daemon.host}}:{{container.daemon.port}}
            </td>
            <td>
                <button type="text" class="btn btn-default btn-xs" value="Click me!" tooltip-html-unsafe="<div style=' text-align: left; '>{{container.inspect.HostConfig.Binds | json | nl2br}}</div>"  tooltip-trigger="focus" tooltip-placement="left">
                    <i class="glyphicon glyphicon-eye-open"> </i>
                </button>
            </td>
            <td>
                <button type="text" class="btn btn-default btn-xs" value="Click me!" tooltip-html-unsafe="<div style=' text-align: left; '>{{container.inspect.HostConfig.PortBindings | json | nl2br}}</div>"  tooltip-trigger="focus" tooltip-placement="left">
                    <i class="glyphicon glyphicon-eye-open"> </i>
                </button>
            </td>
            <td>
                <span ng-show="container.inspect.State.Running" class="label label-success">Running</span>
                <span ng-hide="container.inspect.State.Running" class="label label-danger">Stopped</span>
                <span ng-show="container.inspect.State.Paused" class="label label-warning">Paused</span>

                <button type="text" class="btn btn-default btn-xs" value="Click me!" tooltip-html-unsafe="{{container.inspect.State | json | nl2br}}"  tooltip-trigger="focus" tooltip-placement="left">
                    <i class="glyphicon glyphicon-eye-open"> </i>
                </button>

            </td>
            <td>
                <button ng-hide="container.containerId" class="btn btn-default btn-sm" ng-click="createContainer(container)"><i class="fa fa-cogs"></i> Create</button>

                <span ng-show="container.containerId">

                    <button ng-hide="container.inspect.State.Running" class="btn btn-default btn-sm" ng-click="startContainer(container)"><i class="fa fa-play"></i> Start</button>

                    <span ng-show="container.inspect.State.Running">
                        <button ng-hide="container.inspect.State.Paused" class="btn btn-default btn-sm" ng-click="stopContainer(container)"><i class="fa fa-stop"></i> Stop</button>
                        <button ng-hide="container.inspect.State.Paused" class="btn btn-default btn-sm" ng-click="pauseContainer(container)"><i class="fa fa-pause"></i> Pause</button>
                        <button ng-show="container.inspect.State.Paused" class="btn btn-default btn-sm" ng-click="unpauseContainer(container)"><i class="fa fa-pause"></i> Unpause</button>
                        <button class="btn btn-default btn-sm" ng-click="killContainer(container)"><i class="fa fa-crosshairs"></i> Kill</button>
                    </span>

                    <button ng-hide="container.inspect.State.Running" class="btn btn-default btn-sm" ng-click="removeContainer(container)"><i class="fa fa-trash"></i> Remove</button>
                </span>

            </td>
        </tr>
        </tbody>
    </table>
</section>