<section data-ng-controller="GroupsController" data-ng-init="findOne()">
    <h3><a href="#!/groups">My Groups</a> / <a href="#!/groups/{{group._id}}">{{group.title}}</a> / Service {{container.serviceTitle}}</h3>

    <div class="col-sm-12 row">
        <h4><i class="fa fa-users"></i> Contacts</h4>
        <span ng-repeat="u in group.users">
            <a href="mailto:{{u.email}}"><i class="fa fa-envelope"></i> {{u.displayName}}</a>
        </span>

        <div>
            <a href="mailto:{{group.mailAllUsers}}"><i class="fa fa-envelope"></i> Mail All</a>
        </div>
        <hr>
    </div>

    <div class="col-sm-12 row">
        <h4><i class="fa fa-tachometer"></i> Monitoring</h4>
        <i class="fa fa-bar-chart"></i>
        <a href="{{grafanaUrl}}?groupName={{group.title}}&containerName={{container.name}}">
            Monitoring CPU / RAM on this service.
        </a>
        <hr>
    </div>

    <div class="col-sm-12 row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Service - Image</th>
                <th>Status</th>
                <th>Daemon</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div>
                        <span ng-hide="container.serviceTitle">Need Redeploy to <br>have a name here</span>
                        {{container.serviceTitle}}
                    </div>
                </td>
                <td>
                    {{container.name}}<br>
                    {{container.image}}<br>
                    {{container.containerId | limitTo:12}}
                </td>
                <td>
                <span ng-show="container.daemon.dockerStatusUp">
                    <span ng-show="container.inspect.State.Running" class="label label-success">Running</span>
                    <span ng-hide="container.inspect.State.Running" class="label label-danger">Stopped</span>
                    <span ng-show="container.inspect.State.Paused" class="label label-warning">Paused</span>
                    <button type="text" class="btn btn-default btn-xs" value="Click me!"
                            tooltip-html-unsafe="{{container.inspect.State | json | nl2br}}" tooltip-trigger="focus"
                            tooltip-placement="left">
                        <i class="fa fa-eye"> </i>
                    </button>
                </span>
                </td>
                <td>
                    <div ng-switch="container.daemon.dockerStatus">
                    <span ng-switch-when="checking" class="label label-default">
                        <i ng-switch-when="checking" class="fa fa-spinner fa-spin"> </i>
                        <a ng-show="authentication.isAdmin"
                           href="#!/admin/daemons/view/{{container.daemonId}}">Checking</a>
                        <span ng-hide="authentication.isAdmin">Checking</span>
                    </span>
                    <span ng-switch-when="down">
                        <a class="label label-danger" ng-show="authentication.isAdmin"
                           href="#!/admin/daemons/view/{{gridItem.daemonId}}">
                            {{getDaemon(container.daemonId).name}}
                        </a>
                        <span ng-hide="authentication.isAdmin" class="label label-danger">
                            {{getDaemon(container.daemonId).name}}
                        </span>
                    </span>
                    <span ng-switch-when="up">
                        <a class="label label-success" ng-show="authentication.isAdmin"
                           href="#!/admin/daemons/view/{{container.daemonId}}">
                            {{getDaemon(container.daemonId).name}}
                        </a>
                        <span ng-hide="authentication.isAdmin" class="label label-success">
                            {{getDaemon(container.daemonId).name}}
                        </span>
                    </span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4>Urls</h4>

    <div ng-hide="container.urls.length > 0" class="label label-info">No url attached to this srvice.</div>
    <div ng-repeat="url in container.urls">
        <a href={{url.urlCompute}}><i class="fa fa-link"></i> {{url.label}}</a>
    </div>

    <h4>Commands</h4>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        <strong>{{alert.title}}</strong><br>

        <div ng-repeat="msg in alert.msg track by $index">{{msg}}</div>
    </alert>

    <div class="infos-bottom">
        <alert ng-repeat="info in infos" type="info" close="closeInfo($index)">
            {{info.msg}}...
        </alert>
    </div>

    <div ng-show="container.daemon.dockerStatusUp">

        <button ng-hide="!container.containerId || container.inspect.State.Running" class="btn btn-default btn-warning"
                ng-click="removeContainer(container)"><i class="fa fa-trash"></i> Docker remove
        </button>

        <button ng-hide="!authentication.isAdmin || container.containerId || askDeleteService"
                class="btn btn-default btn-sm"
                ng-click="askDeleteService=true"><i class="fa fa-trash"></i>
            Remove service from Group
        </button>
        <button ng-click="askDeleteService=false" ng-show="askDeleteService" class="btn btn-warning">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </button>
        <button data-ng-click="removeServiceFromGroup(container);" ng-show="askDeleteService"
                class="btn btn-danger">
            Yes, I want to delete this service from this group <i class="fa fa-exclamation-triangle"></i>
        </button>

        <button ng-hide="container.containerId" class="btn btn-primary btn-sm"
                ng-click="createContainer(container)"><i class="fa fa-cogs"></i> Docker create
        </button>


        <div ng-show="container.containerId">

            <button ng-hide="container.inspect.State.Running" class="btn btn-primary btn-sm"
                    ng-click="startContainer(container)"><i class="fa fa-play"></i> Docker run
            </button>

            <div ng-show="container.inspect.State.Running">
                <button ng-hide="container.inspect.State.Paused" class="btn btn-default"
                        ng-click="stopContainer(container)">
                    <i class="fa fa-stop"></i> Docker stop
                </button>
                <button ng-hide="container.inspect.State.Paused" class="btn btn-default"
                        ng-click="pauseContainer(container)">
                    <i class="fa fa-pause"></i> Docker pause
                </button>
                <button ng-show="container.inspect.State.Paused" class="btn btn-default"
                        ng-click="unpauseContainer(container)">
                    <i class="fa fa-pause"></i> Docker unpause
                </button>
                <button ng-click="killContainer(container)" class="btn btn-default">
                    <i class="fa fa-crosshairs"></i> Docker kill
                </button>
                <button ng-click="topContainer(container)" class="btn btn-default">
                    <i class="fa fa-stethoscope"></i> Docker top
                </button>
                <button ng-click="logsContainer(container)" class="btn btn-default">
                    <i class="fa fa-file-text-o"></i> Docker logs
                </button>

                <h5>User</h5>
                <span ng-repeat="command in container.commands | filter:{role:'user'}">
                    <button ng-click="doExec(container, command)" class="btn btn-default">{{command.name}}
                    </button>
                </span>
                <h5 ng-if="authentication.isAdmin">Admin</h5>
                <span ng-if="authentication.isAdmin" ng-repeat="command in container.commands | filter:{role:'admin'}">
                    <button ng-click="doExec(container, command)" class="btn btn-default">{{command.name}}
                    </button>
                </span>
            </div>
        </div>
    </div>

    <h4>Ports</h4>

    <h5>From Docktor</h5>

    <div class="well">
        <div class="row">
            <div class="col-sm-12">
                <div ng-repeat="port in container.ports">
                    -e {{port.external}}:{{port.internal}}/{{port.protocol}}
                </div>
            </div>
        </div>
    </div>

    <div ng-if="authentication.isAdmin">
        <h5>docker inspect</h5>

        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    {{container.inspect.HostConfig.PortBindings | json}}
                </div>
            </div>
        </div>


        <h4>Parameters</h4>

        <h5>From Docktor</h5>

        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-repeat="parameter in container.parameters">
                        {{parameter.name}}:{{parameter.value}}
                    </div>
                </div>
            </div>
        </div>

        <h4>Variables</h4>

        <h5>From Docktor</h5>

        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-repeat="variable in container.variables">
                        {{variable.name}}:{{variable.value}}
                    </div>
                </div>
            </div>
        </div>

        <h5>docker inspect</h5>

        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    {{container.inspect.Config.Env | json}}
                </div>
            </div>
        </div>

        <h4>Volumes</h4>

        <h5>From Docktor</h5>

        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-repeat="volume in container.volumes">
                        -v {{volume.external}}:{{volume.internal}}<span
                            ng-if="volume.rights.length > 0">:{{volume.rights}}</span>
                    </div>
                </div>
            </div>
        </div>

        <h5>docker inspect</h5>

        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    {{container.inspect.HostConfig.Binds | json}}
                </div>
            </div>
        </div>
    </div>

</section>
