<md-dialog aria-label="Container Info">

    <md-content>
        <h2>Container Info</h2>
        <md-subheader class="md-primary">
            Id : {{currentContainer.Id}}<br>
            Image : {{currentContainer.Image}}<br>
            Name : {{currentContainer.inspect.Name}}
        </md-subheader>
        <div class="column">
            <h4>Volumes</h4>
            <pre>{{currentContainer.inspect.HostConfig.Binds | json}}</pre>
        </div>
        <div class="column">
            <h4>Ports</h4>
            <pre>{{currentContainer.inspect.HostConfig.PortBindings | json}}</pre>
        </div>
        <div class="column">
            <h4>Status</h4>

            <div>{{currentContainer.Status}}</div>
            <pre>{{currentContainer.inspect.State | json }} </pre>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="cancel()" class="md-primary">
            Close
        </md-button>
    </div>
</md-dialog>
