<section data-ng-controller="DaemonsController" data-ng-init="findOne()">

    <h2 flex>Admin /
        <md-button class="md-accent" href="#!/admin/daemons">Daemons</md-button>
        /
        <span ng-hide="daemon._id">Create Daemon</span>
        <span ng-show="daemon._id">Edit Daemon</span>
    </h2>


    <div>
        <md-tabs class="md-primary" md-selected="tabs.selectedIndex">
            <md-tab id="tabIdentity" aria-controls="tabIdentity-content">
                Identity & Connection
            </md-tab>

            <md-tab ng-if="daemon._id" id="tabParameters" aria-controls="tabParameters-content">
                Parameters
            </md-tab>
            <md-tab ng-if="daemon._id" id="tabPorts" aria-controls="tabPorts-content">
                Ports
            </md-tab>
            <md-tab ng-if="daemon._id" id="tabVariables" aria-controls="tabVariables-content">
                Variables
            </md-tab>
            <md-tab ng-if="daemon._id" id="tabVolumes" aria-controls="tabVolumes-content">
                Volumes
            </md-tab>
        </md-tabs>
        <ng-switch on="tabs.selectedIndex">
            <div role="tabpanel" id="tabIdentity-content" aria-labelledby="tabIdentity" ng-switch-when="0">
                <div class="md-whiteframe-z5">
                    <form name="daemonForm" novalidate>
                        <div ng-include="'/modules/daemons/views/edit/identity.client.view.html'"></div>
                        <div ng-include="'/modules/daemons/views/edit/connection.client.view.html'"></div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" id="tabParameters-content" aria-labelledby="tabParameters" ng-switch-when="1">
                <div class="md-whiteframe-z5"
                     ng-include="'/modules/daemons/views/edit/list-parameters.client.view.html'"></div>
            </div>
            <div role="tabpanel" id="tabPorts-content" aria-labelledby="tabPorts" ng-switch-when="2">
                <div class="md-whiteframe-z5"
                     ng-include="'/modules/daemons/views/edit/list-ports.client.view.html'"></div>
            </div>
            <div role="tabpanel" id="tabVariables-content" aria-labelledby="tabVariables" ng-switch-when="3">
                <div class="md-whiteframe-z5"
                     ng-include="'/modules/daemons/views/edit/list-variables.client.view.html'"></div>
            </div>
            <div role="tabpanel" id="tabVolumes-content" aria-labelledby="tabVolumes" ng-switch-when="4">
                <div class="md-whiteframe-z5"
                     ng-include="'/modules/daemons/views/edit/list-volumes.client.view.html'"></div>
            </div>
        </ng-switch>
    </div>

    <md-subheader class="row md-warn" ng-show="error">
        <strong data-ng-bind="error"></strong>
    </md-subheader>

</section>
