<section data-ng-controller="DaemonsController" data-ng-init="find()">
    <div layout="row">
        <h2 flex>Admin / Deamons</h2>

        <div flex layout="row" layout-align="end center">
            <md-button href="#!/admin/daemons/create" class="md-raised md-primary">
                <i class="fa fa-plus"> </i> New Daemon
            </md-button>
        </div>
    </div>

    <div layout="row">
        <div flex="35">
            <leaflet ng-if="daemonsInitialized" center="center" markers="markers" height="240px"
                     width="320px"></leaflet>
        </div>

        <div flex="65" align="column">

            <md-text-float md-fid="search" label="Search" ng-model="searchDaemon"></md-text-float>

            <md-list>
                <md-item ng-repeat="daemon in daemons | filter:searchDaemon">
                    <md-item-content>

                        <div class="md-tile-content" layout="column">
                            <div layout="row" layout-margin>
                                <md-button class="md-raised"
                                           href="/#!/admin/daemons/view/{{daemon._id}}">
                                    Docker {{daemon.dockerVersion.Version}} on {{daemon.name}}
                                    - {{daemon.site.title}}
                                </md-button>

                                <div flex ng-switch="daemon.dockerStatus" layout-align="center center">
                                    <div ng-switch-when="checking" layout="row" layout-align="center">
                                        <md-progress-circular class="md-accent md-hue-1" md-diameter="24"
                                                              md-mode="indeterminate">
                                        </md-progress-circular>
                                        <md-subheader class="md-accent docktor" layout="row"
                                                      layout-align="center center">
                                            Checking...
                                        </md-subheader>
                                    </div>
                                    <div ng-switch-when="up">
                                        <md-subheader class="md-primary docktor" layout="row"
                                                      layout-align="center center">
                                            UP
                                        </md-subheader>
                                    </div>
                                    <div ng-switch-when="down">
                                        <md-subheader class="md-warn docktor">
                                            DOWN
                                        </md-subheader>
                                    </div>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex>
                                    <md-button class="md-accent" ng-show="daemon.cadvisorApi"
                                               href="{{daemon.cadvisorUrl}}">
                                        cAdvisor
                                    </md-button>
                                    <md-button class="md-accent" href="{{grafanaUrl}}?groupName={{group.name}}">
                                        Grafana
                                    </md-button>
                                </div>

                                <div flex>
                                    <md-button ng-show="daemon.dockerStatusUp" class="md-accent"
                                               href="/#!/admin/daemons/view/containers/{{daemon._id}}">
                                        {{daemon.dockerInfo.Containers}} containers
                                    </md-button>
                                </div>
                                <div flex>
                                    <md-button ng-show="daemon.dockerStatusUp" class="md-accent"
                                               href="/#!/admin/daemons/view/images/{{daemon._id}}">
                                        {{daemon.dockerInfo.Images}} images
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </div>
    </div>

    <md-toolbar class="md-accent" layout-align="center center" data-ng-if="daemons.$resolved && !daemons.length">
        No daemons yet, why don't you <a href="/#!/admin/daemons/create">create one</a>?
    </md-toolbar>

</section>
