<section data-ng-controller="DaemonsContainersController" data-ng-init="findOne()">

    <h1>{{daemon.name}}</h1>

    <h3>Containers on Daemon {{daemon.protocol}}://{{daemon.host}}:{{daemon.port}}</h3>

    <p>{{daemon.description}}</p>
    
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Mapping</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="container in containers">
            <td class="table-small-text">{{container.Id}}<br>
                Image : {{container.Image}}<br>
                Name : {{container.inspect.Name}}
            </td>
            <td>
                <md-button type="text" class="md-raised"
                           tooltip-html-unsafe="<div style=' text-align: left; '>{{container.inspect.HostConfig.Binds | json | nl2br}}</div>"
                           tooltip-trigger="focus" tooltip-placement="left">
                    <i class="fa fa-eye"> </i> Volumes
                </md-button>
                <md-button type="text" class="md-raised"
                           tooltip-html-unsafe="<div style=' text-align: left; '>{{container.inspect.HostConfig.PortBindings | json | nl2br}}</div>"
                           tooltip-trigger="focus" tooltip-placement="left">
                    <i class="fa fa-eye"> </i> Ports
                </md-button>
            </td>
            <td>
                <md-subheader ng-show="container.inspect.State.Running" class="md-primary">
                    Running
                </md-subheader>
                <md-subheader ng-hide="container.inspect.State.Running" class="md-warn">
                    Stopped
                </md-subheader>
                <md-subheader ng-show="container.inspect.State.Paused" class="md-accent">
                    Paused
                </md-subheader>

                <md-button type="text" class="md-raised"
                           tooltip-html-unsafe="{{container.Status}}<br>{{container.inspect.State | json | nl2br}}"
                           tooltip-trigger="focus" tooltip-placement="left">
                    <i class="fa fa-eye"> </i>
                </md-button>
            </td>
            <td>
                <md-button ng-hide="container.inspect.State.Running" class="md-raised"
                           ng-click="startContainer(container)">
                    <i class="fa fa-play"></i> Start
                </md-button>

                    <span ng-show="container.inspect.State.Running">
                        <md-button ng-hide="container.inspect.State.Paused" class="md-raised"
                                   ng-click="stopContainer(container)">
                            <i class="fa fa-stop"></i> Stop
                        </md-button>
                        <md-button ng-hide="container.inspect.State.Paused" class="md-raised"
                                   ng-click="pauseContainer(container)">
                            <i class="fa fa-pause"></i> Pause
                        </md-button>
                        <md-button ng-show="container.inspect.State.Paused" class="md-raised"
                                   ng-click="unpauseContainer(container)">
                            <i class="fa fa-pause"></i> Unpause
                        </md-button>
                        <md-button class="md-raised" ng-click="killContainer(container)">
                            <i class="fa fa-crosshairs"></i> Kill
                        </md-button>
                    </span>

                <md-button ng-hide="container.inspect.State.Running" class="md-raised"
                           ng-click="removeContainer(container)">
                    <i class="fa fa-trash"></i> Remove
                </md-button>

            </td>
        </tr>
        </tbody>
    </table>

    <md-button class="md-raised" ng-click="viewRawJson=!viewRawJson">View Raw Json</md-button>

    <pre ng-show="viewRawJson">{{containers | json}}</pre>
</section>
