<section data-ng-controller="DaemonsController" data-ng-init="findOne()">

    <h2 flex>Admin /
        <md-button class="md-accent md-hue-3" href="#!/admin/daemons">Daemons</md-button>
        / {{daemon.name}}
    </h2>

    <h3>Daemon on {{daemon.protocol}}://{{daemon.host}}:{{daemon.port}}</h3>

    <p>{{daemon.description}}</p>

    <h2>Actions</h2>
    <md-button class="md-raised md-primary" href="/#!/admin/daemons/edit/{{daemon._id}}">
        <i class="fa fa-edit"> </i> Edit Daemon
    </md-button>

    <h2>Status</h2>

    <div>

        <div flex ng-switch="daemon.dockerStatus" layout-align="center center">
            <div ng-switch-when="checking" layout="row" layout-align="center">
                <md-progress-circular class="md-accent md-hue-3" md-diameter="24"
                                      md-mode="indeterminate">
                </md-progress-circular>
                <md-subheader class="md-accent md-hue-3 docktor" layout="row"
                              layout-align="center center">
                    Checking...
                </md-subheader>
            </div>
            <div ng-switch-when="up">
                <md-subheader class="md-primary docktor" layout="row"
                              layout-align="center center">
                    UP
                </md-subheader>
            </div>
            <div ng-switch-when="down">
                <md-subheader class="md-warn docktor">
                    DOWN
                </md-subheader>
            </div>

            <p ng-switch-when="up">Docker info : </p>
            <pre ng-switch-when="up">{{daemon.dockerInfo | json}}</pre>
        </div>
    </div>
    <p class="lead" data-ng-bind="daemon.content"></p>
</section>
