<section data-ng-controller="DaemonsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{daemon.name}}</h1>

        <h3>Daemon on {{daemon.protocol}}://{{daemon.host}}:{{daemon.port}}</h3>

        <p>{{daemon.description}}</p>
        <small>
            <em class="text-muted">
                Created on
                <span data-ng-bind="daemon.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="daemon.user.displayName"></span>
            </em>
        </small>
        <br>

        <h2>Actions</h2>
        <a class="btn btn-primary" href="/#!/daemons/edit/{{daemon._id}}">
            <i class="fa fa-edit"> Edit Daemon</i>
        </a>

        <button class="btn btn-danger" ng-click="askDeleteDaemon=true" ng-hide="askDeleteDaemon">
            <i class="fa fa-trash-o" tooltip="Delete Daemon"
               tooltip-popup-delay='750'> Delete Deamon</i>
        </button>
        <button ng-click="askDeleteDaemon=false" ng-show="askDeleteDaemon" class="btn btn-danger">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </button>
        <button data-ng-click="remove();" ng-show="askDeleteDaemon"
                class="btn btn-danger">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </button>

    </div>
    <h2>Status</h2>

    <div>
        <span ng-show="daemon.dockerUp" class="label label-success">Docker UP on this node</span>
        <span ng-hide="daemon.dockerUp" class="label label-danger">Docker Down on this node</span>

        <p ng-show="daemon.dockerUp">Docker info : </p>
        <pre ng-show="daemon.dockerUp">{{dockerInfo | json}}</pre>
    </div>
    <p class="lead" data-ng-bind="daemon.content"></p>
</section>
