<section data-ng-controller="DaemonsContainersController" data-ng-init="findOne()">

    <h1>{{daemon.name}}</h1>

    <h3>Containers on Daemon {{daemon.protocol}}://{{daemon.host}}:{{daemon.port}}</h3>

    <p>{{daemon.description}}</p>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Info</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="container in containers">
            <td class="table-small-text">{{container.Id}}<br>
                Image : {{container.Image}}<br>
                Name : {{container.inspect.Name}}
            </td>
            <td>
                <md-button ng-click="showInfo(container)"><i class="fa fa-eye"> </i> Infos</md-button>
            </td>
            <td>
                <md-subheader ng-show="container.inspect.State.Running" class="md-primary docktor">
                    Running
                </md-subheader>
                <md-subheader ng-hide="container.inspect.State.Running" class="md-warn docktor">
                    Stopped
                </md-subheader>
                <md-subheader ng-show="container.inspect.State.Paused" class="md-accent docktor">
                    Paused
                </md-subheader>
            </td>
            <td>
                <md-button ng-hide="container.inspect.State.Running" class="md-raised md-primary"
                           ng-click="startContainer(container)">
                    <i class="fa fa-play"></i> Start
                </md-button>

                    <span ng-show="container.inspect.State.Running">
                        <md-button ng-hide="container.inspect.State.Paused" class="md-raised"
                                   ng-click="stopContainer(container)">
                            <i class="fa fa-stop"></i> Stop
                        </md-button>
                        <md-button ng-hide="container.inspect.State.Paused" class="md-raised"
                                   ng-click="pauseContainer(container)">
                            <i class="fa fa-pause"></i> Pause
                        </md-button>
                        <md-button ng-show="container.inspect.State.Paused" class="md-raised"
                                   ng-click="unpauseContainer(container)">
                            <i class="fa fa-pause"></i> Unpause
                        </md-button>
                        <md-button class="md-raised" ng-click="killContainer(container)">
                            <i class="fa fa-crosshairs"></i> Kill
                        </md-button>
                    </span>

                <md-button ng-hide="container.inspect.State.Running" class="md-raised"
                           ng-click="removeContainer(container)">
                    <i class="fa fa-trash"></i> Remove
                </md-button>

            </td>
        </tr>
        </tbody>
    </table>

    <md-button class="md-raised" ng-click="viewRawJson=!viewRawJson">View Raw Json</md-button>

    <pre ng-show="viewRawJson">{{containers | json}}</pre>
</section>
