<section data-ng-controller="NodesController">
	<div class="page-header">
		<h1>New Node</h1>
	</div>
	<div class="col-md-12">
		<form name="nodeForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': nodeForm.url.$dirty && nodeForm.url.$invalid }">
					<label class="control-label" for="url">Url</label>
					<div class="controls">
						<input name="url" type="text" data-ng-model="url" id="url" class="form-control" placeholder="Url" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<input type="text" name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Description" />
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>