<section data-ng-controller="NodesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Nodes</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="node in nodes" data-ng-href="#!/nodes/{{node._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Created on
				<span data-ng-bind="node.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="node.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="node.url"></h4>
			<p class="list-group-item-text" data-ng-bind="node.description"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="nodes.$resolved && !nodes.length">
		No nodes yet, why don't you <a href="/#!/nodes/create">create one</a>?
	</div>
</section>