<section data-ng-controller="NodesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="node.url"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == node.user._id">
		<a class="btn btn-primary" href="/#!/nodes/{{node._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="node.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="node.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="node.content"></p>
</section>