$teal-button-color: #00948d !default;
$teal-button-color-hover: #008c85 !default;
$teal-button-color-active: #00827c !default;
$yellow-button-color: #d29c01 !default;
$yellow-button-color-hover: #c79400 !default;
$yellow-button-color-active: #ad8000 !default;

.ui.card.user {
  margin: 1em !important;
  max-height: 100px;
  .extra.content {
    font-size: .9em;
  }
  .email {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ui.teal.button {
    background-color: $teal-button-color !important;

  }
  .ui.teal.button:hover {
    background-color: $teal-button-color-hover !important;
  }
  .ui.teal.button:active {
    background-color: $teal-button-color-active !important;
  }

  .ui.yellow.button {
    background-color: $yellow-button-color !important;

  }
  .ui.yellow.button:hover {
    background-color: $yellow-button-color-hover !important;
  }
  .ui.yellow.button:active {
    background-color: $yellow-button-color-active !important;
  }

  .ui.top.right.attached.button {
    box-shadow: none !important;
    left: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 111px;
    .ui.button {
      margin: 0;
      width: 111px;
    }
  }
  .ui.provider.label {
    background-color: #3a6191;

    color: white;
  }
}
