<section data-ng-controller="UsersController" data-ng-init="findOne()">

    <h2 flex>Admin /
        <md-button class="md-accent md-hue-3" href="#!/admin/users">Users</md-button>
        / {{userToEdit.displayName}}
    </h2>

    <div class="row">
        <form name="userForm" data-ng-submit="update()" novalidate>

            <md-input-container>
                <label>Username</label>
                <input name="username" ng-model="userToEdit.username" type="text" required>

                <div ng-messages="userForm.username.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <div ng-show="userForm.username.$invalid" class="help-block">
                <p ng-show="userForm.username.$error.required" class="text-danger">Username is required</p>
            </div>

            <md-input-container>
                <label>FirstName</label>
                <input name="firstName" ng-model="userToEdit.firstName" type="text" required>

                <div ng-messages="userForm.firstName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>LastName</label>
                <input name="lastName" ng-model="userToEdit.lastName" type="text" required>

                <div ng-messages="userForm.lastName.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input name="email" ng-model="userToEdit.email" type="email" required>

                <div ng-messages="userForm.email.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="email">Email address is invalid.</div>
                </div>
            </md-input-container>

            <div layout="row">
                <md-checkbox ng-model="userToEdit.allowGrant" aria-label="Checkbox Allow Grant">
                    Can add/remove user on group
                </md-checkbox>
            </div>

            <label>Role</label>
            <md-radio-group ng-model="userToEdit.role" layout="row">
                <md-radio-button value="user">User</md-radio-button>
                <md-radio-button value="admin">Admin</md-radio-button>
            </md-radio-group>

            <div class="row">
                <div flex>Selected Groups</div>
                <div flex>Available Groups</div>
            </div>

            <div layout="row" layout-align="center start">
                <div flex>
                    <md-checkbox aria-label="Remove Group" ng-repeat="group in groupsSelected | orderBy:'title'"
                                 ng-click="removeGroup(group)" ng-checked="true"> {{group.title}}
                    </md-checkbox>
                </div>

                <div flex>
                    <select ng-if="groups.all.length > 0" ng-model="newGroup" ng-change="addGroup(newGroup)"
                            ng-options="group as group.title for group in groups.all | orderBy:'title'">
                    </select>
                    <p ng-if="groups.all.length <= 0">No Group available</p>
                </div>
            </div>

            <md-button type="submit" class="md-raised md-primary">
                <span ng-show="userToEdit._id"><i class="fa fa-save"></i> Update</span>
            </md-button>
            <md-subheader class="row md-warn" ng-show="error">
                <strong data-ng-bind="error"></strong>
            </md-subheader>
        </form>
    </div>
    <div class="row">
        <md-button ng-show="authentication.user.username===userToEdit.username" disabled="true"
                   class="md-accent md-hue-3 md-warn" layout-align="center center">
            <i class="fa fa-trash-o"></i> You can't delete yourself.
        </md-button>
        <br>
        <md-button class="md-raised md-warn" ng-click="askDeleteUser=true"
                   ng-show="authentication.user.username!==userToEdit.username" ng-hide="askDeleteUser">
            <i class="fa fa-trash-o"></i> Delete User
        </md-button>

        <md-button ng-click="askDeleteUser=false" ng-show="askDeleteUser" class="md-raised md-accent md-hue-3">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </md-button>
        <md-button data-ng-click="remove(userToEdit);" ng-show="askDeleteUser"
                   class="md-raised md-warn">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </md-button>
    </div>

</section>
