<section data-ng-controller="UsersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Users</h1>
    </div>

    <table tr-ng-grid="" items="users" fields="['username', 'firstName', 'lastName', 'email', 'role', 'created']" class="table">
        <thead>
        <th field-name="created" display-format="date:'mediumDate'"></th>
        </thead>
        <tbody>
        <td>
            <div><a class="btn btn-default btn-xs" href="#!/users/{{gridItem._id}}">
                <i class="fa fa-eye"></i> Details</a>
            </div>
        </td>
        </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-if="users.$resolved && !users.length">
        No users yet ?!
    </div>
</section>
