<section data-ng-controller="UsersController" data-ng-init="findOne()">

    <h1 data-ng-bind="userToEdit.displayName"></h1>

    <p>Username : {{userToEdit.username}}</p>

    <p>First Name: {{userToEdit.firstName}}</p>

    <p>Last Name: {{userToEdit.lastName}}</p>

    <p>Email: {{userToEdit.email}}</p>

    <p>Role : {{userToEdit.role}}</p>

    <div>
        <div ng-if="userToEdit.groups.length > 0">
            <p>Group<span ng-if="userToEdit.groups.length > 1">s</span> :</p>
            <ul>
                <li ng-repeat="group in userToEdit.groups">{{group.title}}</li>
            </ul>
        </div>

        <div ng-if="userToEdit.groups.length <= 0" class="label label-info">No associated group</div>
        <br>
    </div>

    <div>
        <md-button class="md-raised md-primary" href="/#!/admin/users/{{userToEdit._id}}/edit">
            <i class="fa fa-edit"></i> Edit
        </md-button>
    </div>
</section>
