<div class="row" layout="row" layout-align="center center">
    <label>Docker Host</label>

    <div>
        <md-radio-group ng-model="daemon.protocol" required>
            <md-radio-button value="http">http</md-radio-button>
            <md-radio-button value="https">https</md-radio-button>
        </md-radio-group>
    </div>
    <div>
        <md-input-container>
            <label>IP or Hostname</label>
            <input name="host" ng-model="daemon.host" type="text" required="true">

            <div ng-messages="daemonForm.host.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <label>Port</label>
            <input name="port" ng-model="daemon.port" type="number" required="true">

            <div ng-messages="daemonForm.port.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="number">Number is invalid.</div>
            </div>
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <label>Timeout in ms</label>
            <input name="timedout" ng-model="daemon.timedout" type="number" required="true">

            <div ng-messages="daemonForm.timedout.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="number">Number is invalid.</div>
            </div>
        </md-input-container>
    </div>
</div>
<div class="row">

    <div flex="10">CA</div>

    <div flex>
        <md-input-container>
                <textarea name="ca" data-ng-model="daemon.ca" id="ca" class="form-control" cols="40" rows="3"
                          placeholder="CA Content File"></textarea>
        </md-input-container>
    </div>

</div>
<div class="row">
    <div flex="10">CERT</div>

    <div flex>
        <md-input-container>
                <textarea name="cert" data-ng-model="daemon.cert" id="cert" class="form-control" cols="40"
                          rows="3" placeholder="CERT Content File"></textarea>
        </md-input-container>
    </div>
</div>
<div class="row">
    <div flex="10">Key</div>

    <div flex>
        <md-input-container>
                <textarea name="key" data-ng-model="daemon.key" id="key" class="form-control" cols="40"
                          rows="3" placeholder="KEY Content File"></textarea>
        </md-input-container>
    </div>
</div>
<div class="row" layout="row">
    <div flex>
        <md-input-container class="long">
            <label>Default data volume</label>
            <input label="Default data volume" ng-model="daemon.volume" type="text">
        </md-input-container>
    </div>

    <div flex>
        <p>Example : /data <br>
            This is a directory on the host where docker's daemon is running. <br>
            It is used to propose a default data volume for deploying a new service on a group.</p>
    </div>
</div>
<div class="row" layout="row">
    <div flex>
        <md-input-container class="long">
            <label> URL cAdvisor Api</label>
            <input ng-model="daemon.cadvisorApi" type="text">
        </md-input-container>
    </div>

    <div flex>
        Example : http://host:port/api/v1.0
        <a ng-if="daemon.cadvisorApi" href="{{daemon.cadvisorApi}}">Check URL</a>
        <br>
        <a href="https://github.com/google/cadvisor">cAdvisor</a> is used to retrieve monitoring stats (CPU,
        RAM, FS) <br>
        on host where docker's daemon is running and on running containers too.<br>
        Docktor recommands to have a cAdvisor instance for each daemon.
    </div>
</div>

<div class="row">
    <md-button ng-click="submitForm(daemonForm.$valid)" class="md-raised md-primary">
        <span ng-hide="daemon._id"><i class="fa fa-save"></i> Create Daemon</span>
        <span ng-show="daemon._id"><i class="fa fa-save"></i> Update Daemon</span>
    </md-button>
</div>
<br>
<div class="row" ng-show="daemon._id">
    <md-button class="md-raised md-warn" ng-click="askDeleteDaemon=true" ng-hide="askDeleteDaemon">
        <i class="fa fa-trash-o" tooltip="Delete Daemon"
           tooltip-popup-delay='750'> </i> Delete Daemon
    </md-button>
    <md-button ng-click="askDeleteDaemon=false" ng-show="askDeleteDaemon" class="md-raised md-accent md-hue-1">
        No, I don't want to delete this. <i class="fa fa-reply"></i>
    </md-button>
    <md-button data-ng-click="remove(daemon);" ng-show="askDeleteDaemon"
               class="md-raised md-warn">
        Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
    </md-button>
</div>
