<div flex layout="row" layout-align="center center" class="row">
    <div flex>
        <md-input-container>
            <label>Name</label>
            <input name="name" ng-model="daemon.name" type="text" ng-pattern="patternTitle" required="true"
                   md-maxlength="200">

            <div ng-messages="daemonForm.name.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">Max length of title : 200</div>
                <div ng-message="pattern">Title have to match this pattern : [a-zA-Z0-9_]{1,200}.</div>
            </div>
        </md-input-container>
    </div>

    <div>
        No space or special character in this field. <br>
        The name is used to have default value for container's name.
    </div>
</div>

<div layout="row" class="row">
    <div flex="5">Site</div>

    <div>
        <select ng-model="daemon.selectSite"
                ng-options="site as site.title for site in sites.all | orderBy:'title' track by site._id ">
        </select>
    </div>
</div>

<div class="row">
    <md-input-container class="long">
        <label> Description</label>
        <input ng-model="daemon.description" type="text">
    </md-input-container>
</div>
