<div flex layout="row" layout-align="end center">
    <md-button class="md-raised" aria-label="Add a Parameter" ng-click="displayFormParameter=!displayFormParameter">
        <i class="fa fa-plus-square"></i> Add a parameter
    </md-button>
</div>

<div layout="row" class="row">
    <p>These parameters are used to have common parameters on all services deployed on this daemon.
    You can add / remove / modify parameters when you deploy a new service on a group.
    </p>
</div>

<md-toolbar class="md-raised" layout-align="center center"
            data-ng-if="daemon.parameters.length===0 && !displayFormParameter">
    No parameter yet
</md-toolbar>

<form ng-show="displayFormParameter" name="parameterForm" id="parameterForm" novalidate autocomplete="off">
    <h2>New Parameter</h2>

    <div layout="row">
        <md-input-container>
            <label>Name</label>
            <input ng-model="parameter.name" type="text" ng-required="true">
        </md-input-container>
        <md-input-container>
            <label>Default Value</label>
            <input ng-model="parameter.value" type="text" ng-required="true">
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <input ng-model="parameter.description" type="text">
        </md-input-container>
    </div>

    <md-button ng-disabled="parameterForm.$invalid" class="md-raised md-primary"
               data-ng-click="addParameter(); displayFormParameter=false">
        <i class="fa fa-save"></i> Save Parameter
    </md-button>
    <md-button class="md-raised md-default" data-ng-click="displayFormParameter=false;">
        Cancel
    </md-button>
</form>

<ul data-ng-repeat="parameter in daemon.parameters">
    <li>{{parameter.name}}:{{parameter.value}}
        <small><i>{{parameter.description}}</i></small>
        <a ng-click="askDeleteParameter=true" ng-hide="askDeleteParameter">
            <i class="fa fa-trash-o" tooltip="Delete Parameter"
               tooltip-popup-delay='750'></i>
        </a>
        <md-button ng-click="askDeleteParameter=false" ng-show="askDeleteParameter"
                   class="md-raised md-accent md-hue-3">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </md-button>
        <md-button data-ng-click="removeParameter(parameter);" ng-show="askDeleteParameter"
                   class="md-raised md-warn">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </md-button>
    </li>
</ul>
