<div flex layout="row" layout-align="end center">
    <md-button class="md-raised" aria-label="Add a Volume" ng-click="displayFormVolume=!displayFormVolume">
        <i class="fa fa-plus-square"></i> Add a volume
    </md-button>
</div>

<div layout="row" class="row">
    <p>These volumes are used to have common volumes mapping on all services deployed on this daemon.
        You can add / remove / modify volumes mapping when you deploy a new service on a group.
    </p>
</div>

<md-toolbar class="md-raised" layout-align="center center" data-ng-if="daemon.volumes.length===0 && !displayFormVolume">
    No volume yet
</md-toolbar>

<form ng-show="displayFormVolume" name="volumeForm" id="volumeForm" novalidate autocomplete="off">
    <h2>New Volume</h2>

    <div class="row" layout="row">
        <p>Internal Volume is a directory inside the container. Default volume is the volume on Host running the
        container. Internal and default volume are updatable when you deploy a new service.</p>
    </div>


    <div layout="row">
        <md-input-container>
            <label>Internal Volume</label>
            <input ng-model="volume.internal" type="text" ng-required="true">
        </md-input-container>
        <md-input-container>
            <label>Default Value</label>
            <input ng-model="volume.value" type="text">
        </md-input-container>
        <md-radio-group ng-model="volume.rights" ng-required="true" ng-required="true">
            <md-radio-button value="rw">Read-Write</md-radio-button>
            <md-radio-button value="ro">Read Only</md-radio-button>
        </md-radio-group>
        <md-input-container>
            <label>Description</label>
            <input ng-model="volume.description" type="text">
        </md-input-container>
    </div>

    <md-button ng-disabled="volumeForm.$invalid" data-ng-click="addVolume(); displayFormVolume=false"
               class="md-raised md-primary">
        <i class="fa fa-save"></i> Save Volume
    </md-button>
    <md-button class="md-raised md-default" data-ng-click="displayFormVolume=false;">
        Cancel
    </md-button>
</form>

<ul data-ng-repeat="volume in daemon.volumes">
    <li>
        <span ng-show="volume.value">-v {{volume.value}}:{{volume.internal}}:{{volume.rights}}</span>
        <span ng-hide="volume.value">-v &lg;nameVolume-attributed-on-group&gt;:{{volume.internal}}:{{volume.rights}}</span>

        <small><i>{{volume.description}}</i></small>
        <a ng-click="askDeleteVolume=true" ng-hide="askDeleteVolume">
            <i class="fa fa-trash-o" tooltip="Delete Volume"
               tooltip-popup-delay='750'></i>
        </a>
        <md-button ng-click="askDeleteVolume=false" ng-show="askDeleteVolume"
                   class="md-raised md-accent md-hue-1">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </md-button>
        <md-button data-ng-click="removeVolume(volume);" ng-show="askDeleteVolume"
                   class="md-raised md-warn">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </md-button>
    </li>
</ul>
