$body-background-color: #28303a !default;

body,
html {
  background-color: $body-background-color;
  height: 100%;
  margin: 0;
  width: 100%;
}

.root,
.fill {
  height: 100%;
  width: 100%;
}

.ui.menu,
.ui.tab,
.ui.button,
.ui.buttons,
.ui.card,
.ui.label,
.ui.cards > .card
.ui.card,
.ui.menu .dropdown.item .menu,
.ui.modal,
.ui.modal > :last-child,
.ui.modal > :first-child,
.ui.message,
.ui.dropdown,
.ui.dropdown .menu,
textarea,
input {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.ui.styled.accordion {
  border-radius: 0 !important;
}

.ui.error.message {
  background-color: #f9d6d6 !important;
}

.ui.form {
  & .error {
    ::-webkit-input-placeholder {
      color: rgba(191, 191, 191, .87);
    }
    :focus::-webkit-input-placeholder {
      color: rgba(115, 115, 115, .87);
    }
    ::-moz-placeholder {
      color: rgba(191, 191, 191, .87);
    }
    :focus::-moz-placeholder {
      color: rgba(115, 115, 115, .87);
    }
  }

  .fields {
    margin-bottom: 0;
  }

  .field {
    label {
      color: rgba(255, 255, 255, .5) !important;
    }
    label:after {
      color: #00948d !important;
    }
    &.error {
      input {
        background-color: #f9d6d6 !important;
        color: #9f3a38 !important;
      }
      label {
        color: #ce8b8a !important;
      }
      label:after {
        color: #db2828 !important;
      }

      ::-webkit-input-placeholder {
        color: #dca7a5;
      }
      :focus::-webkit-input-placeholder {
        color: #ce8b8a;
      }
      ::-moz-placeholder {
        color: #dca7a5;
      }
      :focus::-moz-placeholder {
        color: #ce8b8a;
      }
      .ui.dropdown {
        &,
        .text {
          background-color: #f9d6d6;
          color: #dca7a5;
        }
      }
    }
  }
}

.ui.buttons {
  margin: 0;
  padding: 1px;
  .button .icon {
    margin-right: 2px;
  }
}

.ui.yellow.buttons .button, .ui.yellow.button {
  background-color: #f1c40f; // yellow from https://flatuicolors.com/
}

.not-active {
  cursor: default;
  pointer-events: none;
}

.dropdown.optgroup .divider {
  border-top: none !important;
}

[readonly] {
  cursor: not-allowed;
}
