.footer {
  a {
    text-decoration: none;
  }
  i {
    vertical-align: inherit !important;
  }
  background-color: rgba(171, 171, 171, .24);
  padding: .5em 0;
  text-align: center;
  width: 100%;
}
