.container {
  .ui.card {
    border: 1px solid #d4d4d5;
    margin: 1em !important;
    width: auto;

    .content {
      padding-bottom: 0;
      .header,
      .meta {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .header {
        max-width: 180px;
      }
    }
    .buttons {
      margin-bottom: 0px !important;
      padding: 0;
    }
  }
  .description {
    font-size: .9em !important;
    height: 45px;
    overflow-y: auto !important;
  }
  .meta {
    border-bottom: 1px grey solid;
    font-size: 1em !important;
    padding-bottom: .5em;
  }
  .header {
    font-size: 1.05em !important;
    text-transform: uppercase;
  }
  .ui.active.dimmer {
    z-index: 2000;
  }
  .leaflet-control-attribution.leaflet-control,
  .leaflet-top.leaflet-left {
    z-index: 1;
  }
}
