$form-bg: #2c3e50;

$main: #00948d;
$main-dark: darken($main, 5%);

$thin: 300;

.daemon-page {

  .daemon-details {
    background: rgba($form-bg, .9);
    margin: 2em;
    max-width: 70%;
    min-width: 450px;
    padding: 2em;
    width: 70%;

    .daemon-form {
      .toggle-button {
        margin-top: 2em;
        label, input:checked~label {
          color: rgba(255, 255, 255, 0.5) !important;
          font-size: .92857143em;
          font-weight: bold;
        }
      }
    }

    h1 {
      color: white;
      font-weight: $thin;
      margin: 0 0 -.25em;
      text-transform: uppercase;

      .right-floated {
        float: right !important;
        margin: 0;
      }

      a {
        margin-right: .5em;
        color: $main;
        text-decoration: none;
        transition: .5s ease;
        &:hover {
          color: $main-dark;
          cursor: pointer;
        }
      }
    }
  }
}
