$blue-button-color: #3a6191 !default;
$blue-button-color-hover: #355680 !default;
$blue-button-color-active: #2d486b !default;

.daemon-card {
  height: 140px;
  margin: 1em !important;

  .content {
    padding-bottom: 0;

    .header,
    .meta {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .header {
      max-width: 180px;
      font-size: 1.05em !important;
      text-transform: uppercase;
      color: #4183c4 !important;

      &:hover {
        color: $blue-button-color !important;
      }

      &:active {
        color: $blue-button-color-hover !important;
      }
    }

    .meta {
      border-bottom: 1px grey solid;
      font-size: 1em !important;
      padding-bottom: .5em;
    }

    .description {
      font-size: .9em !important;
      height: 45px;
      overflow-y: auto !important;
    }
  }

  .blue.buttons {
    height: 29px !important;
    margin-bottom: -2px !important;
    min-height: 29px !important;

    .button {
      background-color: $blue-button-color;
    }

    .button:hover {
      background-color: $blue-button-color-hover;
    }

    .button:active,
    .loading.button {
      background-color: $blue-button-color-active;
    }

    .disabled.button {
      background-color: $blue-button-color-active;
      opacity: 1 !important;
    }
  }
}

