.daemons-bar {
    padding: 0.5em;
    min-height: 3em;
    background-color: #2c3e50;
    
    div:first-child {
        margin-left: 1em !important;
    }

    div:last-child {
        margin-right: 1em !important;
    }
    
    .ui.teal.button {
        background-color: #00948D !important;
        
    } 
    .ui.teal.button:hover {
        background-color: #008C85 !important;
    } 
    
    .ui.teal.button:active {
        background-color: #00827c !important;
    } 
    
}

.sites {
    padding: 2em 1em;    
    padding-right: 0;
}

.daemons-list {
    padding-top: 1em;
    padding-bottom: 1em;
    overflow-y: auto;
    position: relative;
    
    .dimmable {
        position: absolute;
        height: calc(100% - 4em);
        width: calc(100% - 2em);
        top: 0;
        left: 0;
        margin: 2em 1em !important;
        .ui.inverted.dimmer {
            background-color: white;
        }
    }
}