<div ng-controller="SettingsController" layout-fill layout="column" layout-align="space-around center">

    <h1>Change your Password</h1>

    <md-content class="md-whiteframe-z1">
        <form name="passwordForm" ng-submit="changeUserPassword()" style="padding: 20px;" autocomplete="off"
              layout-margin layout-padding
              layout="column" layout-align="space-around center">
            <md-input-container class="long">
                <label>Current Password</label>
                <input name="currentPassword" type="password" ng-model="passwordDetails.currentPassword"
                       required="true">

                <div ng-messages="passwordForm.currentPassword.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="long">
                <label>New Password</label>
                <input name="newPassword" type="password" ng-model="passwordDetails.newPassword" required="true">

                <div ng-messages="passwordForm.newPassword.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="long">
                <label>Verify Password</label>
                <input name="verifyPassword" type="password" ng-model="passwordDetails.verifyPassword" required="true">

                <div ng-messages="passwordForm.verifyPassword.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary"><i class="fa fa-save"></i> Save Password</md-button>
            <div ng-show="error" class="text-danger row">
                <strong data-ng-bind="error"></strong>
            </div>
            <div ng-show="success" class="text-success row">
                <strong>Password Changed Successfully</strong>
            </div>
        </form>
    </md-content>
</div>


