<div ng-controller="SettingsController" layout-fill layout="column" layout-align="space-around center">

    <h1>Change your Password</h1>

    <md-content class="md-whiteframe-z1">
        <form ng-submit="changeUserPassword()" style="padding: 20px;" autocomplete="off" layout-margin layout-padding
              layout="column" layout-align="space-around center">
            <md-text-float type="password" label="Current Password" ng-model="passwordDetails.currentPassword"></md-text-float>
            <md-text-float type="password" label="New Password" ng-model="passwordDetails.newPassword"></md-text-float>
            <md-text-float type="password" label="Verify Password" ng-model="passwordDetails.verifyPassword"></md-text-float>
            <md-button type="submit" class="md-raised md-primary"><i class="fa fa-save"></i> Save Password</md-button>
            <div ng-show="error" class="text-danger row">
                <strong data-ng-bind="error"></strong>
            </div>
            <div ng-show="success" class="text-success row">
                <strong>Password Changed Successfully</strong>
            </div>
        </form>
    </md-content>
</div>


