<form id="page-change-password" ng-submit="changelockPassword()" class="ui form" ng-controller="SettingsController">
    <div class="ui grid">
        <div class="ui sixteen wide mobile ten wide tablet seven wide computer centered column">
            <div class="ui card fluid">
                <div class="content">

                    <h4 class="ui dividing header">Change your Password</h4>
                    <br/>
                    <div ng-show="error" class="ui error message">
                        <strong>{{error}}</strong>
                    </div>
                    <div ng-show="success" class="ui success message">
                        <strong>Password Changed Successfully</strong>
                    </div>
                    <div class="required field">
                        <label>Current Password</label>

                        <div class="ui icon input">
                            <input type="password" ng-model="passwordDetails.currentPassword">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="required field">
                        <label>New Password</label>

                        <div class="ui icon input">
                            <input type="password" ng-model="passwordDetails.newPassword">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="required field">
                        <label>Verify Password</label>

                        <div class="ui icon input">
                            <input type="password" ng-model="passwordDetails.verifyPassword">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <input type="submit" class="positive ui button" value="Save Password"/>
                </div>
            </div>
        </div>
    </div>
</form>
