<div ng-controller="SettingsController" layout-fill layout="column" layout-align="space-around center">

    <h1>Edit your profile</h1>

    <md-content class="md-whiteframe-z1">
        <form ng-submit="updateUserProfile(userForm.$valid)" style="padding: 20px;" autocomplete="off" layout-margin
              layout-padding
              layout="column" layout-align="space-around center">
            <div class="row">
                <md-text-float label="First Name" ng-model="user.firstName"></md-text-float>
                <md-text-float label="Last Name" ng-model="user.lastName"></md-text-float>
            </div>
            <div class="row">
                <md-text-float label="Email" ng-model="user.email"></md-text-float>
                <md-text-float label="Username" ng-model="user.username"></md-text-float>
            </div>
            <md-button type="submit" class="md-raised md-primary"><i class="fa fa-save"></i> Save Profile</md-button>
            <div ng-show="error" class="text-danger row">
                <strong data-ng-bind="error"></strong>
            </div>
            <div ng-show="success" class="text-success row">
                <strong>Profile Saved Successfully</strong>
            </div>
        </form>
    </md-content>
</div>
