<div ng-controller="SettingsController" layout-fill layout="column" layout-align="space-around center">

    <h1>Edit your profile</h1>

    <md-content class="md-whiteframe-z1">
        <form ng-submit="updateUserProfile(userForm.$valid)" style="padding: 20px;" autocomplete="off" layout-margin
              layout-padding
              layout="column" layout-align="space-around center">
            <div class="row">
                <md-input-container>
                    <label>First Name</label>
                    <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <input ng-model="user.lastName">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="user.email">
                </md-input-container>
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="user.username">
                </md-input-container>
            </div>
            <md-button type="submit" class="md-raised md-primary"><i class="fa fa-save"></i> Save Profile</md-button>
            <div ng-show="error" class="text-danger row">
                <strong data-ng-bind="error"></strong>
            </div>
            <div ng-show="success" class="text-success row">
                <strong>Profile Saved Successfully</strong>
            </div>
        </form>
    </md-content>
</div>
