<h4>Variables</h4>
<ul data-ng-repeat="variable in image.variables">
    <li>-e {{variable.name}}:{{variable.value}}
        <small><i>{{variable.description}}</i></small>
        <md-button aria-label="Delete a Variable" ng-click="askDeleteVariable=true"
                   ng-hide="askDeleteVariable">
            <i class="fa fa-trash-o" title="Delete Variable"></i>
        </md-button>
        <md-button aria-label="Don't delete variable" ng-click="askDeleteVariable=false"
                   ng-show="askDeleteVariable" class="md-raised md-accent md-hue-3">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </md-button>
        <md-button aria-label="Confirm delete variable" data-ng-click="removeVariable(image, variable);"
                   ng-show="askDeleteVariable" class="md-raised md-warn">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </md-button>
    </li>
</ul>

<md-button aria-label="Add a variable" ng-hide="displayFormVariable"
           ng-click="displayFormVariable=!displayFormVariable">
    <i class="fa fa-plus-square"></i> Add a variable
</md-button>

<form ng-show="displayFormVariable" name="variableForm" id="variableForm" novalidate autocomplete="off">
    <md-input-container>
        <label>Name</label>
        <input ng-model="variable.name" type="text" ng-required="true">
    </md-input-container>
    <md-input-container>
        <label>Default Value</label>
        <input ng-model="variable.value" type="text">
    </md-input-container>
    <md-input-container>
        <label>Description</label>
        <input ng-model="variable.description" type="text">
    </md-input-container>

    <md-button ng-disabled="variableForm.$invalid"
               data-ng-click="addVariable(image); displayFormVariable=false"
               class="md-raised md-primary">
        <i class="fa fa-save"></i> Insert Variable
    </md-button>
    <md-button data-ng-click="displayFormVariable=false" class="md-raised">
        <i class="fa fa-reply"></i> Cancel
    </md-button>
</form>
