<h4>Volumes</h4>
<ul data-ng-repeat="volume in image.volumes">
    <li>-v {{volume.value}}:{{volume.internal}}<span
            ng-if="volume.rights.length > 0">:{{volume.rights}}</span>
        <small><i>{{volume.description}}</i></small>
        <md-button aria-label="Ask Delete Volume" ng-click="askDeleteVolume=true" ng-hide="askDeleteVolume">
            <i class="fa fa-trash-o" tooltip="Delete Volume"
               tooltip-popup-delay='750'></i>
        </md-button>
        <md-button aria-label="Don't delete volume" ng-click="askDeleteVolume=false"
                   ng-show="askDeleteVolume" class="md-raised md-accent md-hue-3">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </md-button>
        <md-button aria-label="Confirm delete volume" data-ng-click="removeVolume(image, volume);"
                   ng-show="askDeleteVolume" class="md-raised md-warn">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </md-button>
    </li>
</ul>

<md-button aria-label="Add a volume" ng-hide="displayFormVolume" ng-click="displayFormVolume=!displayFormVolume">
    <i class="fa fa-plus-square"></i> Add a volume
</md-button>

<form ng-show="displayFormVolume" name="volumeForm" id="volumeForm" novalidate autocomplete="off">
    <md-input-container>
        <label>Internal Volume</label>
        <input ng-model="volume.internal" type="text" ng-required="true">
    </md-input-container>
    <md-input-container>
        <label>Default Value</label>
        <input ng-model="volume.value" type="text">
    </md-input-container>
    <md-radio-group ng-model="volume.rights" ng-required="true" ng-required="true">
        <md-radio-button value="rw">Read-Write</md-radio-button>
        <md-radio-button value="ro">Read Only</md-radio-button>
    </md-radio-group>
    <md-input-container>
        <label>Description</label>
        <input ng-model="volume.description" type="text">
    </md-input-container>

    <md-button ng-disabled="volumeForm.$invalid"
               data-ng-click="addVolume(image); displayFormVolume=false"
               class="md-raised md-primary">
        <i class="fa fa-save"></i> Insert Volume
    </md-button>
    <md-button data-ng-click="displayFormVolume=false" class="md-raised">
        <i class="fa fa-reply"></i> Cancel
    </md-button>
</form>
