<div flex layout="row" layout-align="end center">
    <md-button class="md-raised" aria-label="Add an Image" ng-click="addImage()">
        <i class="fa fa-plus-square"></i> Add an image
    </md-button>
</div>

<md-toolbar class="md-raised" layout-align="center center" data-ng-if="service.images.length===0">
    No image yet
</md-toolbar>

<table class="table table-striped" data-ng-if="service.images.length > 0">
    <tbody>
    <tr data-ng-repeat="image in service.images">
        <td>
            <div class="row" layout="row">
                <div>
                    <md-input-container class="long">
                        <label>Image Name</label>
                        <input ng-model="image.name" type="text" required="true">
                    </md-input-container>
                </div>
                <div>
                    <md-switch ng-model="image.active" aria-label="Image is active ?">
                        Active : <span ng-if="image.active">On</span>
                        <span ng-if="!image.active">Off</span>
                    </md-switch>

                    <md-button ng-click="showTabs=!showTabs" class="md-raised" ng-hide="askDeleteImage || showTabs">
                        <a class="fa fa-edit"></a> Edit
                    </md-button>

                    <md-button ng-click="showTabs=!showTabs" class="md-raised md-primary"
                               ng-show="showTabs && !askDeleteImage">
                        <a class="fa fa-edit"></a> Hide Edit Form
                    </md-button>

                    <md-button class="md-raised" aria-label="Delete Image" ng-click="askDeleteImage=true"
                               ng-hide="askDeleteImage">
                        <i class="fa fa-trash-o" title="Delete Image"></i> Delete
                    </md-button>
                    <md-button aria-label="Don't Delete" ng-click="askDeleteImage=false" ng-show="askDeleteImage"
                               class="md-raised md-accent md-hue-3">
                        No, I don't want to delete this. <i class="fa fa-reply"></i>
                    </md-button>
                    <md-button aria-label="Confirm Delete" data-ng-click="removeImage(image);" ng-show="askDeleteImage"
                               class="md-raised md-warn">
                        Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                    </md-button>

                    <md-button ng-hide="askDeleteImage" class="md-raised" aria-label="Duplicate Image"
                               ng-click="duplicateImage(image)">
                        <i class="fa fa-copy" title="Duplicate Image"></i> Duplicate
                    </md-button>
                </div>
            </div>

            <div ng-if="showTabs">
                <md-tabs class="md-primary" md-selected="imageTab.selectedIndex">
                    <md-tab id="tabParameters" aria-controls="tabParameters-content"
                            ng-click="imageTab.selectedIndex=0">
                        Parameters
                    </md-tab>
                    <md-tab id="tabPorts" aria-controls="tabPorts-content" ng-click="imageTab.selectedIndex=1">
                        Ports
                    </md-tab>
                    <md-tab id="tabVariables" aria-controls="tabVariables-content" ng-click="imageTab.selectedIndex=2">
                        Variables
                    </md-tab>
                    <md-tab id="tabVolumes" aria-controls="tabVolumes-content"
                            ng-click="imageTab.selectedIndex=1;imageTab.selectedIndex=2;imageTab.selectedIndex=3">
                        Volumes
                    </md-tab>
                </md-tabs>
                <ng-switch on="imageTab.selectedIndex">
                    <div role="tabpanel" id="tabParameters-content" aria-labelledby="tabParameters" ng-switch-when="0">
                        <parameters-directive parameters="image.parameters"></parameters-directive>
                    </div>
                    <div role="tabpanel" id="tabPorts-content" aria-labelledby="tabPorts" ng-switch-when="1">
                        <ports-directive ports="image.ports" display-external-port="false"></ports-directive>
                    </div>
                    <div role="tabpanel" id="tabVariables-content" aria-labelledby="tabVariables" ng-switch-when="2">
                        <variables-directive variables="image.variables"></variables-directive>
                    </div>
                    <div role="tabpanel" id="tabVolumes-content" aria-labelledby="tabVolumes" ng-switch-when="3">
                        <volumes-directive volumes="image.volumes" display-external-volume="false"></volumes-directive>
                    </div>
                </ng-switch>
            </div>
        </td>
    </tr>
    </tbody>
</table>
