<section data-ng-controller="ServicesController" data-ng-init="findOne()">

    <h2 flex>Admin /
        <md-button class="md-accent" href="#!/admin/services">Services</md-button>
        /
        <span ng-hide="service._id">Create Service</span>
        <span ng-show="service._id">Edit Service</span>
    </h2>

    <form name="serviceForm" data-ng-submit="submitForm()" novalidate>
        <div class="row">
            <md-text-float md-fid="title" label="Title" ng-model="service.title"
                           ng-pattern="patternTitle" ng-required="true" type="text">
            </md-text-float>
            <div>
                The title have to match this pattern : [a-zA-Z0-9_]{1,200}
                <p ng-show="serviceForm.title.$error.required" class="text-danger">Title is required</p>

                <p ng-show="serviceForm.title.$invalid" class="text-danger">
                    The title have to match this pattern : [a-zA-Z0-9_]{1,200}
                </p>
            </div>
        </div>

        <div class="row" ng-hide="service._id">
            <md-button type="submit" class="md-raised md-primary">
                Create
            </md-button>
        </div>
        <md-subheader class="row md-warn" ng-show="error">
            <strong data-ng-bind="error"></strong>
        </md-subheader>
    </form>

    <div ng-if="service._id">
        <div ng-include="'/modules/services/views/list-images.client.view.html'"></div>
        <br>

        <div ng-include="'/modules/services/views/list-commands.client.view.html'"></div>
        <br>

        <div ng-include="'/modules/services/views/list-urls.client.view.html'"></div>
        <br>
        <md-button ng-click="submitForm()" class="md-raised md-primary">
            <i class="fa fa-save"></i> Save
        </md-button>

        <br><br>
        <md-button class="md-raised md-warn" ng-click="askDeleteService=true" ng-hide="askDeleteService">
            <i class="fa fa-trash-o"></i> Delete Service
        </md-button>
        <br>
        <md-button ng-click="askDeleteService=false" ng-show="askDeleteService" class="md-raised md-warn">
            No, I don't want to delete this. <i class="fa fa-reply"></i>
        </md-button>
        <md-button data-ng-click="remove(service);" ng-show="askDeleteService"
                   class="md-raised md-warn">
            Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
        </md-button>
    </div>
</section>
