<div flex layout="row" layout-align="end center">
    <md-button class="md-raised" aria-label="Add a Job" ng-click="addUrl()">
        <i class="fa fa-plus-square"></i> Add an Url
    </md-button>
</div>

<md-toolbar class="md-raised" layout-align="center center" data-ng-if="service.urls.length===0">
    No Url yet
</md-toolbar>

<table class="table table-striped" data-ng-if="service.urls.length > 0">
    <thead>
    <tr>
        <th></th>
        <th>Label</th>
        <th>Url</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="url in service.urls">
        <td style="width: 30px;">
            <div>
                <md-button aria-label="Delete Url" ng-click="askDeleteUrl=true" ng-hide="askDeleteUrl">
                    <i class="fa fa-trash-o" title="Delete Url"></i>
                </md-button>
                <md-button aria-label="Don't Delete Url" ng-click="askDeleteUrl=false" ng-show="askDeleteUrl"
                           class="md-raised md-accent md-hue-3">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </md-button>
                <md-button aria-label="Confirm Delete Url" data-ng-click="removeUrl(url);" ng-show="askDeleteUrl"
                           class="md-raised md-warn">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </md-button>
            </div>
        </td>
        <td>
            <div class="row">
                <md-input-container>
                    <label>URL Label</label>
                    <input ng-model="url.label" type="text" ng-required="true">
                </md-input-container>
            </div>
        </td>
        <td>
            <div class="row">
                <md-input-container>
                    <label>URL</label>
                    <input ng-model="url.url" type="text" ng-required="true">
                </md-input-container>
                Put an internal port here, docktor will retrieve external
                port on each container. Example: <b>:8080/foo</b> or just <b>:8080</b>
            </div>
        </td>
    </tr>
    </tbody>
</table>
