<h4>Commands
    <md-button aria-label="Add a Command" ng-click="addCommand()">
        <i class="fa fa-plus-square"></i>
    </md-button>
</h4>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Command</th>
        <th>Can be used by</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="command in service.commands">
        <td style="width: 30px;">
            <div>
                <md-button aria-label="Delete Command" ng-click="askDeleteCommand=true" ng-hide="askDeleteCommand">
                    <i class="fa fa-trash-o" title="Delete Command"></i>
                </md-button>
                <md-button aria-label="Don't Delete Command" ng-click="askDeleteCommand=false" ng-show="askDeleteCommand"
                           class="md-raised md-accent md-hue-1">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </md-button>
                <md-button aria-label="Confirme Delete Command" data-ng-click="removeCommand(command);" ng-show="askDeleteCommand" class="md-raised md-warn">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </md-button>
            </div>
        </td>
        <td>
            <div class="row">
                <md-text-float label="Command Name" ng-model="command.name" type="text" ng-required="true">
                </md-text-float>
            </div>
        </td>
        <td>
            <div class="row">
                <md-text-float label="Command Exec" ng-model="command.exec" type="text" ng-required="true">
                </md-text-float>
            </div>
        </td>
        <td>
            <div class="row">
                <md-radio-group ng-model="command.role" ng-required="true" ng-required="true">
                    <md-radio-button value="user">Users and Admins</md-radio-button>
                    <md-radio-button value="admin">Admins only</md-radio-button>
                </md-radio-group>
            </div>
        </td>
    </tr>
    </tbody>
</table>
