<div flex layout="row" layout-align="end center">
    <md-button class="md-raised" aria-label="Add a Job" ng-click="addJob()">
        <i class="fa fa-plus-square"></i> Add a Job
    </md-button>
</div>

<div class="row">
    <h3>Usage :</h3>
    <ul>
        <li>Interval : it is syntax of crontab (ex every 5 min : */5 * * * *)</li>
        <li>Job Value for type "Url" :
            Put an internal port here, docktor will retrieve external
            port on each container. <br>Example: <b>:8080/foo</b> or just <b>:8080</b>
        </li>
        <li>Job Value for type "Docker exec" : A unix command</li>
        <li>Activate : for all deployed services, activate this job</li>
        <li>Desactivate : for all deployed services, desactivate this job</li>
    </ul>
</div>

<md-toolbar class="md-raised" layout-align="center center" data-ng-if="service.jobs.length===0">
    No job yet
</md-toolbar>

<md-list data-ng-if="service.jobs.length > 0">
    <md-item ng-repeat="job in service.jobs">
        <md-item-content>
            <div class="md-tile-content" layout="row">
                <div>
                    <md-button aria-label="Delete Job" ng-click="askDeleteJob=true" ng-hide="askDeleteJob">
                        <i class="fa fa-trash-o" title="Delete Job"></i>
                    </md-button>
                    <md-button aria-label="Don't Delete Job" ng-click="askDeleteJob=false"
                               ng-show="askDeleteJob"
                               class="md-raised md-accent md-hue-1">
                        No, I don't want to delete this. <i class="fa fa-reply"></i>
                    </md-button>
                    <md-button aria-label="Confirme Delete Job" data-ng-click="removeJob(job);"
                               ng-show="askDeleteJob" class="md-raised md-warn">
                        Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                    </md-button>
                </div>

                <div class="row">
                    <md-input-container>
                        <label>Job Name</label>
                        <input ng-model="job.name" type="text" ng-required="true">
                    </md-input-container>
                    <md-input-container>
                        <label>Interval</label>
                        <input ng-model="job.interval" type="text" ng-required="true">
                    </md-input-container>
                </div>

                <div class="row">
                    <md-radio-group ng-model="job.type" ng-required="true" ng-required="true" layout="row">
                        <md-radio-button value="url">Url</md-radio-button>
                        <md-radio-button value="exec">Docker exec</md-radio-button>
                    </md-radio-group>
                    <md-input-container class="medium">
                        <label>Job Value</label>
                        <input ng-model="job.value" type="text" ng-required="true">
                    </md-input-container>
                </div>

                <div class="row">
                    <md-input-container class="medium">
                        <label>Description</label>
                        <input ng-model="job.description" type="text" ng-required="true">
                    </md-input-container>
                    <md-input-container>
                        <md-switch ng-model="job.active" aria-label="Job is active ?" ng-click="activationJob(job)">
                            Active : <span ng-if="job.active">On</span>
                            <span ng-if="!job.active">Off</span>
                        </md-switch>
                    </md-input-container>
                </div>
            </div>
        </md-item-content>
    </md-item>
</md-list>
