<h4>Execs
    <button class="btn btn-default btn-xs" ng-click="addExec()">
        <i class="fa fa-plus-square"></i>
    </button>
</h4>

<table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Cmds</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="exec in service.execs">
        <td style="width: 30px;">
            <div>
                <a ng-click="askDeleteExec=true" ng-hide="askDeleteExec">
                    <i class="fa fa-lg fa-trash-o cursor-pointer" tooltip="Delete Exec"
                       tooltip-popup-delay='750'></i>
                </a>
                <button ng-click="askDeleteExec=false" ng-show="askDeleteExec" class="btn btn-danger">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </button>
                <button data-ng-click="removeExec(exec);" ng-show="askDeleteExec" class="btn btn-danger">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </button>
            </div>
        </td>
        <td>
            <div class="form-group">
                <input name="execName" type="text" data-ng-model="exec.name" id="execName"
                       class="form-control" placeholder="execName">
            </div>
        </td>
        <td>

            <ul data-ng-repeat="cmd in exec.cmds">
                <li>{{cmd.command}}
                    <small><i>{{cmd.description}}</i></small>
                    <a ng-click="askDeleteCmd=true" ng-hide="askDeleteCmd">
                        <i class="fa fa-lg fa-trash-o cursor-pointer" tooltip="Delete Cmd"
                           tooltip-popup-delay='750'></i>
                    </a>
                    <button ng-click="askDeleteCmd=false" ng-show="askDeleteCmd"
                            class="btn btn-danger">
                        No, I don't want to delete this. <i class="fa fa-reply"></i>
                    </button>
                    <button data-ng-click="removeCmd(exec, cmd);" ng-show="askDeleteCmd"
                            class="btn btn-danger">
                        Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                    </button>
                </li>
            </ul>

            <button class="btn btn-default btn-xs" ng-hide="displayFormCmd"
                    ng-click="displayFormCmd=!displayFormCmd">
                <i class="fa fa-plus-square"></i>
            </button>

            <form ng-show="displayFormCmd" name="cmdForm" id="cmdForm" novalidate
                  autocomplete="off">
                <fieldset>
                    <input type="text" name="command" data-ng-model="cmd.command"
                           placeholder="command" class="form-control" ng-required="true">
                    <input type="text" name="descriptionCmd" data-ng-model="cmd.description"
                           placeholder="description" class="form-control">
                    <button ng-disabled="cmdForm.$invalid" class="btn btn-primary"
                            data-ng-click="addCmd(exec); displayFormCmd=false">
                        Insert Cmd
                    </button>
                </fieldset>
            </form>
        </td>
    </tr>
    </tbody>
</table>
