<h4>Urls
    <md-button ng-click="addUrl()">
        <i class="fa fa-plus-square"></i>
    </md-button>
</h4>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Label</th>
        <th>Url</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="url in service.urls">
        <td style="width: 30px;">
            <div>
                <md-button ng-click="askDeleteUrl=true" ng-hide="askDeleteUrl">
                    <i class="fa fa-trash-o" tooltip="Delete Url"
                       tooltip-popup-delay='750'></i>
                </md-button>
                <md-button ng-click="askDeleteUrl=false" ng-show="askDeleteUrl" class="md-raised md-accent md-hue-1">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </md-button>
                <md-button data-ng-click="removeUrl(url);" ng-show="askDeleteUrl" class="md-raised md-warn">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </md-button>
            </div>
        </td>
        <td>
            <div class="row">
                <md-text-float label="URL Label" ng-model="url.label" type="text" ng-required="true">
                </md-text-float>
            </div>
        </td>
        <td>
            <div class="row">
                <md-text-float label="URL" ng-model="url.url" type="text" ng-required="true">
                </md-text-float>
                Put an internal port here, docktor will retrieve external
                port on each container. Example: <b>:8080/foo</b> or just <b>:8080</b>
            </div>
        </td>
    </tr>
    </tbody>
</table>
