<section data-ng-controller="ServicesController" data-ng-init="find()">

    <div layout="row">
        <h2 flex>Admin / Services</h2>

        <div flex layout="row" layout-align="end center">
            <md-button href="#!/admin/services/create" class="md-raised md-primary">
                <i class="fa fa-plus"> </i> New Service
            </md-button>
        </div>
    </div>

    <table tr-ng-grid="" items="services" fields="" class="table" ng-if="services.$resolved && services.length">
        <thead>
        <th field-name="title" display-name="Title" enable-filtering="true"></th>
        <th field-name="created" display-format="date:'mediumDate'"></th>
        </thead>
        <tbody>
        <tr>
            <td field-name="title">
                <md-button class="md-accent md-hue-3" href="#!/admin/services/{{gridItem._id}}">
                    {{gridItem.title}}
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>

    <md-toolbar class="md-accent md-hue-3" layout-align="center center" data-ng-if="services.$resolved && !services.length">
        No service yet, why don't you
        <md-button href="/#!/admin/services/create">create one ?</md-button>
    </md-toolbar>
</section>
