<section data-ng-controller="ServicesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Services</h1>
    </div>

    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="title">Title</th>
            <th st-sort="created">Creation</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="service in services">
            <td>
                {{service.title}}
            </td>
            <td>
                Created at
                <span data-ng-bind="service.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="service.user.displayName"></span>
            </td>
            <td>
                <a class="btn btn-default btn-xs" href="#!/services/{{service._id}}">
                    <i class="fa fa-eye"></i> Details</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-if="services.$resolved && !services.length">
        No services yet, why don't you <a href="/#!/services/create">create one</a>?
    </div>
</section>
