<section data-ng-controller="ServicesController" data-ng-init="findOne()">

    <h1 data-ng-bind="service.title"></h1>

    <div>
        <h2>Images</h2>

        <md-toolbar class="md-accent" layout-align="center center" ng-if="service.images.length <= 0">
            No associated image yet. Please add one by editing this service.
        </md-toolbar>
        <ul data-ng-repeat="image in service.images">
            <li>{{image.name}}, active : {{image.active}}</li>
        </ul>
    </div>
    <br>
    <div>
        <md-button class="md-raised md-primary" href="/#!/admin/services/{{service._id}}/edit">
            <i class="fa fa-edit"></i> Edit
        </md-button>
    </div>
    <p class="lead" data-ng-bind="service.content"></p>
</section>
