<section data-ng-controller="ServicesController" data-ng-init="findOne()">

    <h2 flex>Admin /
        <md-button class="md-accent md-hue-3" href="#!/admin/services">Services</md-button>
        / {{service.title}}
    </h2>

    <div>
        <h2>Images</h2>
        <md-toolbar class="md-accent md-hue-3" layout-align="center center" ng-if="service.images.length <= 0">
            No associated image yet. Please add one by editing this service.
        </md-toolbar>
        <ul data-ng-repeat="image in service.images">
            <li>
                <strong>{{image.name}}</strong> - active : {{image.active}}
                <ul data-ng-repeat="daemon in image.daemons">
                    <li>
                        <span ng-switch="daemon.dockerImage ? '_defined_' :  '_undefined_'">
                            <span ng-switch-when="_undefined_"> {{daemon.name}}  - <strong>Image unavailabe</strong>
                                <md-button class="md-warn" ng-click="pullImage(image, daemon)" ng-disabled="downloadInProgress"><i class="fa fa-download"></i>
                                    <span ng-if="!downloadInProgress">Pull</span>
                                    <span ng-if="downloadInProgress">Downloading...</span></md-button>
                            </span>
                            <span ng-switch-when="_defined_"> {{daemon.name}}  - Image <strong>{{daemon.dockerImage.Id | limitTo: 12}}</strong> - <em>created on {{daemon.dockerImage.Created * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</em></span>
                        </span>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <br>

    <div>
        <md-button class="md-raised md-primary" href="/#!/admin/services/{{service._id}}/edit">
            <i class="fa fa-edit"></i> Edit
        </md-button>
    </div>

    <div>

    </div>

    <p class="lead" data-ng-bind="service.content"></p>
</section>
