$form-bg: #2c3e50;
$white: #fff;

$main: #00948d;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

.daemon-details {

  .ui.form.daemon-form {
    padding-left: .5em !important;
    padding-right: .5em !important;
  }

  background: rgba($form-bg, .9);
  margin: 40px;
  max-width: 70%;
  min-width: 450px;
  padding: 40px;
  width: 70%;

  h1 {
    color: $white;
    font-weight: $thin;
    margin: 0 0 30px;
    text-transform: uppercase;

    .right-floated {
      float: right !important;
      margin-right: 1em;
    }
  }

  a {
    color: $main;
    text-decoration: none;
    transition: .5s ease;
    &:hover {
      color: $main-dark;
      cursor: pointer;
    }
  }

  .fields {
    margin-bottom: 1em !important;
  }
  .field {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .button-form {
    padding: 0 1em;
    .ui.button {
      -moz-appearance: none; // Firefox
      -webkit-appearance: none; // Safari and Chrome
      appearance: none;
      background: $main;
      border: none;
      border-radius: 0;
      color: $white;
      font-size: 1.5rem;
      font-weight: $bold;
      letter-spacing: .1em;
      outline: none;
      padding: 15px 0;
      text-transform: uppercase;
      transition: all.5s ease;
      &:hover,
      &:focus {
        background: $main-dark;
        color: $white;
      }
    }
  }

  .ui.label {
    background-color: #3a6191;
    border-radius: 0;
    color: white;
    height: 38px;
    line-height: 38px;
    margin-top: 24px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    width: 100%;
    @media only screen and (max-width: 767px) {
      margin-left: 25%;
      margin-top: 0;
      width: 50% !important;
    }
  }

  .tags {
    .ui.label {
      width: calc(12.5% - 1.5em);
      margin-top: 0;
      margin-bottom: 1em !important;
      @media only screen and (max-width: 767px) {
        margin-bottom: .5em !important;
      }
      margin-right: 2em;
    }
    margin-left: 1em !important;
    margin-right: 1em !important;

    .ReactTags__tags {
      position: relative;
      display: inline-block;
      @media only screen and (max-width: 767px) {
        display: block;
      }
    }

    .ReactTags__tagInput {
      border-radius: 0;
      margin-bottom: 5px;
      display: inline-block;

      input {
        margin: 0;
        width: 100%;
        padding: .68em 1em;
        font-size: 1em;
        border: 1px solid rgba(34, 36, 38, .15);
        color: rgba(0, 0, 0, .87);

        &:focus {
          color: rgba(0, 0, 0, .95);
          border-color: #85b7d9;
          border-radius: .28571429rem;
          background: #fff;
          box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset;
        }
      }
    }

    .ReactTags__selected {
      margin-bottom: 1em !important;
      width: 100%;

      .ReactTags__tag {
        border: 1px solid #ddd;
        background: #f8f8f9;
        font-size: 12px;
        display: inline-block;
        padding: .5em 1em;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: move;
      }

      .ReactTags__remove {
        color: #aaa;
        margin-left: 5px;
        cursor: pointer;
      }
    }

    .ReactTags__suggestions {
      position: absolute;

      ul {
        list-style-type: none;
        box-shadow: 0.05em .01em .5em rgba(0, 0, 0, .2);
        background: white;
        width: 200px;

        .active {
          background: #b7cfe0;
          cursor: pointer;
        }
      }

      li {
        border-bottom: 1px solid #ddd;
        padding: 5px 10px;
        margin: 0;

        mark {
          text-decoration: underline;
          background: none;
          font-weight: 600;
        }
      }
    }
  }
}
