$form-bg: #2c3e50;
$white: #fff;

$main: #00948d;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

.daemon-form {

  background: rgba($form-bg, .9);
  margin: 40px;
  min-width: 450px;
  padding: 40px;
  width: 70%;

  h1 {
    color: $white;
    font-weight: $thin;
    margin: 0 0 30px;
    text-transform: uppercase;
  }

  a {
    color: $main;
    text-decoration: none;
    transition: .5s ease;
    &:hover {
      color: $main-dark;
      cursor: pointer;
    }
  }

  .fields {
    margin: 0 0 1em !important;
  }
  .field {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .button-form {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background: $main;
    border: none;
    border-radius: 0;
    color: $white;
    font-size: 2rem;
    font-weight: $bold;
    letter-spacing: .1em;
    margin-top: 30px;
    outline: none;
    padding: 15px 0;
    text-transform: uppercase;
    transition: all.5s ease;
    &:hover,
    &:focus {
      background: $main-dark;
      color: $white;
    }

  }

  .ui.label {
    background-color: #3a6191;
    border-radius: 0;
    color: white;
    height: 38px;
    line-height: 38px;
    margin-top: 24px;
    padding-bottom: 0;
    padding-top: 0;
  }
}
