<div>

    <div ng-if="withTitle">
        <h4>Ports</h4>
    </div>
    <p>
        <i>docker [...] -p externalPort:internalPort</i>
    </p>

    <div ng-if="ports.length === 0">No port</div>

    <ul data-ng-repeat="port in ports">
        <li layout="row" layout-align="start center">
            <div>
                <md-button aria-label="Delete Port" ng-click="askDeletePort=true" ng-hide="askDeletePort">
                    <i class="fa fa-trash-o" title="Delete Port"></i>
                </md-button>
                <md-button aria-label="Don't delete port" ng-click="askDeletePort=false" ng-show="askDeletePort" class="md-raised md-accent md-hue-3">
                    No, I don't want to delete this.
                    <i class="fa fa-reply"></i>
                </md-button>
                <md-button aria-label="Confirm delete port" data-ng-click="removePort(port);" ng-show="askDeletePort" class="md-raised md-warn">
                    Yes, I confirm
                    <i class="fa fa-exclamation-triangle"></i>
                </md-button>
            </div>

            <div layout="row" layout-align="start center">
                <div ng-if="port.host">
                    <div>
                        <md-input-container>
                            <label>Host</label>
                            <input ng-model="port.host" type="string">
                        </md-input-container>
                    </div>
                </div>
                <div ng-if="port.host">:</div>
                <div ng-if="displayExternalPort">
                    <div>
                        <md-input-container>
                            <label>External Port</label>
                            <input ng-model="port.external" type="number" ng-required="true">
                        </md-input-container>
                    </div>
                </div>

                <div>:</div>

                <div>
                    <md-input-container>
                        <label>Internal Port</label>
                        <input ng-model="port.internal" type="number" ng-required="true">
                    </md-input-container>
                </div>
                <div>/</div>
                <div>
                    <md-radio-group ng-model="port.protocol" ng-required="true">
                        <md-radio-button value="tcp">tcp</md-radio-button>
                        <md-radio-button value="udp">udp</md-radio-button>
                    </md-radio-group>
                </div>
                <div>
                    <md-input-container>
                        <label>Description</label>
                        <input ng-model="port.description" type="text">
                    </md-input-container>
                </div>
            </div>
        </li>
    </ul>

    <md-button aria-label="Add a Port" ng-hide="displayFormPort" ng-click="addPort()">
        <i class="fa fa-plus-square"></i> Add a port
    </md-button>

</div>
