<div>
    <div ng-if="withTitle">
        <h4>Variables</h4>
    </div>
    <p><i>docker [...] -e "name=value"</i></p>

    <div ng-if="variables.length === 0">No variable</div>

    <ul data-ng-repeat="variable in variables">
        <li layout="row" layout-align="start center">
            <div layout="row" layout-align="start center">
                <md-button aria-label="Delete a Variable" ng-click="askDeleteVariable=true" ng-hide="askDeleteVariable">
                    <i class="fa fa-trash-o" title="Delete Variable"></i>
                </md-button>
                <md-button aria-label="Don't delete variable" ng-click="askDeleteVariable=false"
                           ng-show="askDeleteVariable" class="md-raised md-accent md-hue-3">
                    No, I don't want to delete this. <i class="fa fa-reply"></i>
                </md-button>
                <md-button aria-label="Confirm delete variable" data-ng-click="removeVariable(variable);"
                           ng-show="askDeleteVariable" class="md-raised md-warn">
                    Yes, I confirm <i class="fa fa-exclamation-triangle"></i>
                </md-button>
                -e
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="variable.name" type="text" ng-required="true">
                </md-input-container>
                <md-input-container>
                    <label>Default Value</label>
                    <input ng-model="variable.value" type="text">
                </md-input-container>
                <md-input-container>
                    <label>Description</label>
                    <input ng-model="variable.description" type="text">
                </md-input-container>
            </div>
        </li>
    </ul>

    <md-button aria-label="Add a variable" ng-hide="displayFormVariable" ng-click="addVariable()">
        <i class="fa fa-plus-square"></i> Add a variable
    </md-button>
</div>
