.map-container {
  position: relative !important;
  .map {
    border: 1px lightgrey solid;
    position: relative;
    a:hover {
      cursor: pointer;
      i {
        opacity: 1;
      }
    }
    a {
      i {
        opacity: .5;
      }
    }
  }
}
.ui.active.dimmer {
  background-color: white;
  z-index: 2000;
}
.leaflet-bottom.leaflet-right,
leaflet-control-zoom {
  z-index: 1 !important;
}
