.service-card {
  margin: 1em !important;
  max-height: 200px;
  max-width: 300px;
  .header {
    font-size: 1.05em !important;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .extra.content {
    font-size: .9em;
  }
  .description {
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
