$form-bg: #2c3e50;
$white: #fff;

$main: #00948d;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

.service-page {

  .ui.active.dimmer {
      background-color: transparent;
  }

  .service-details {
    background: rgba($form-bg, .9);
    margin: 2em;
    max-width: 70%;
    min-width: 450px;
    padding: 2em 5em;
    width: 70%;

    .tabular-details {
      margin-bottom: 2rem;
      > .nonpadded {
        padding: 0;
      }

      > .padded {
        padding: 2em;
      }
    }
    .ui.form.service-form {
      > .fields > .field > label {
        color: rgba(0, 0, 0, .95) !important;
      }

    }

    h1 {
      color: $white;
      font-weight: $thin;
      margin-bottom: 2rem;
      text-transform: uppercase;

      .right-floated {
        float: right !important;
      }
    }

    a {
      color: $main;
      text-decoration: none;
      transition: .5s ease;
      &:hover {
        color: $main-dark;
        cursor: pointer;
      }
    }

    .button-form {
      .ui.button {
        -moz-appearance: none; // Firefox
        -webkit-appearance: none; // Safari and Chrome
        appearance: none;
        background: $main;
        border: none;
        border-radius: 0;
        color: $white;
        font-size: 1.5rem;
        font-weight: $bold;
        letter-spacing: .1em;
        outline: none;
        padding: 15px 0;
        text-transform: uppercase;
        transition: all.5s ease;
        &:hover,
        &:focus {
          background: $main-dark;
          color: $white;
        }
      }
    }

    .ui.label.form-label {
      background-color: #3a6191;
      border-radius: 0;
      color: white;
      height: 38px;
      line-height: 38px;
      margin-top: 24px;
      padding-bottom: 0;
      padding-top: 0;
      text-align: center;
      width: 100%;
      @media only screen and (max-width: 767px) {
        margin-left: 25%;
        margin-top: 0;
        width: 50% !important;
      }
    }

    .tags {
      .ui.label {
        width: calc(12.5% - 1.5em);
        margin-top: 0;
        margin-bottom: 0em !important;
        @media only screen and (max-width: 767px) {
          margin-bottom: .5em !important;
        }
        margin-right: 2em;
      }
    }
  }
}
