<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{title}}</title>

    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Semantic META -->
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">

    <!-- Facebook META -->
    <meta property="fb:app_id" content="{{facebookAppId}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="/modules/core/img/docktor.png">
    <meta property="og:type" content="website">

    <!-- Twitter META -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:image" content="/modules/core/img/docktor.png">

    <!-- Fav Icon -->
    <link rel="shortcut icon" type="image/png" href="/modules/core/img/docktor.png">

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body layout="row">

<md-sidenav layout="column"
            class="md-sidenav-left md-whiteframe-z5"
            md-component-id="left"
            ng-include="'/modules/core/views/menu.client.view.html'">
</md-sidenav>

<!--Start Header-->
<div role="main" layout-fill layout="column">
    <md-toolbar layout="column" layout-align="space-between right" class="md-default-theme"
                ng-include="'/modules/core/views/header.client.view.html'"></md-toolbar>

    <md-content md-scroll-y flex class="md-padding ng-scope">
        <!--Start Content-->
        <div id="content" layout="column" layout-align="space-between center">
            {% block content %}{% endblock %}
            <div class="custom-footer" flex ng-include="'/modules/core/views/footer.client.view.html'"></div>
        </div>
        <!--End Content-->
    </md-content>
</div>

<md-sidenav layout="column"
            class="md-sidenav-right md-whiteframe-z5"
            md-component-id="right"
            ng-include="'/modules/core/views/admin.client.view.html'"></md-sidenav>

<!--Embedding The User Object-->
<script type="text/javascript">
    var user = {{user | json | safe}} ;
</script>

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}
<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}

{% if process.env.NODE_ENV === 'developmentWithLiveReload' %}
<!--Livereload script rendered -->
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
{% endif %}
</body>
</html>
