.ui.vertical.menu {
	margin-top: -15px !important;
	width: 100%;
	display: none;
}

.ui.menu .item {
    padding: .5em 1em;
}

.brand {
	padding: .5em .5em !important;
}

.navbar {
	border-radius: 0 !important;
	margin: 0 !important;
    min-height: 40px !important;
    max-height: 40px !important;
	background-color: #015051 !important
}